<!DOCTYPE html>

{{#> common/body
    title=pages.documents.pageTitle
    class="documents-page"
}}
    {{> layout/header title='pages.documents.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}
            {{> popup/index}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Документы управления делами и развития персонала</h1>
                </div>

                <div class="content__wrapper">
                    <div class="content__main">
                        <div class="documents__block">
                            <ul class="content__list">
                                <li class="content__item content__item_calendar">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 12 августа 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_locked"></span>
                                            <span class="documents__image documents__image_pdf"></span>
                                        </div>
                                        <span class="documents__name">Заседание НМСУ</span>
                                    </a>
                                </li>
                                <li class="content__item content__item_calendar">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 1 мая 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_doc"></span>
                                        </div>
                                        <span class="documents__name">Конкурсный отбор на должности профессорско-преподавательского состава в КГПУ им. В.П. Астафьева</span>
                                    </a>
                                </li>
                                <li class="content__item content__item_calendar">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 12 августа 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_pdf"></span>
                                        </div>
                                        <span class="documents__name">Заседание НМСУ</span>
                                    </a>
                                </li>
                                <li class="content__item content__item_calendar">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 12 августа 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_locked"></span>
                                            <span class="documents__image documents__image_jpg"></span>
                                        </div>
                                        <span class="documents__name">Конкурсный отбор на должности профессорско-преподавательского состава в КГПУ им. В.П. Астафьева</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{!-- {{> common/pagination}} --}}
                    </div>
                    <div class="notice">
                        <p class="notice__title">Внимание!</p>
                        <p class="notice__text">Файлы с пометкой <span class="notice__image"></span> доступны только с логином и паролем внутренней сети КГПУ.<br>Если у вас проблемы со скачиванием файлов, не помеченных таким значком, просьба обращаться к администратору.</p>
                    </div>
                </div>

            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}