<div class="dropdown {{class}}">
    <button class="dropdown__btn">Все</button>
    <ul class="dropdown__list">
        <li class="dropdown__item" data-value="all">Все</li>
        <li class="dropdown__item" data-value="management">Руководство</li>
        <li class="dropdown__item" data-value="staff">Отдел по работе с персоналом</li>
        <li class="dropdown__item" data-value="student">Студенческий отдел</li>
        <li class="dropdown__item" data-value="military">Военно-учетный стол</li>
    </ul>
    <input type="text" name="dropdown-filter" value="" class="dropdown__input_hidden">
</div>