<!DOCTYPE html>

{{#> common/body
    title=pages.news_list.pageTitle
    class="news_list-page"
}}
    {{> layout/header title='pages.news_list.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content">

                <section class="news">
                    <div class="news__header content__header">
                        <h1 class="news__title content__title">Новости общая</h1>
                        <button class="news__rss">rss</button>
                    </div>

                    <div class="news__list">
                        {{#each pages.news_list.news}}
                            <div class="news__list__item">
                                {{> news/card item=this }}
                            </div>
                        {{/each}}
                    </div>
                </section>
            
            </div>

            {{> common/pagination}}

        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}