@use '~/styles/colors';

.structure {
  &-page {
    .content__main {
      @media (max-width: 1440px) {
        padding-right: 0;
        width: 100%;
      }
    }
  }

  &__item {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 26px;
  }

  &__link {
    color: colors.$text-main;
    padding-right: 40px !important;

    @media (max-width: 767px) {
      font-size: 18px;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }

    &::after {
      background-image: url('../img/icon-arrow_big_b.svg') !important;
      height: 14px !important;
      transform: translateY(-50%) !important;
      width: 14px !important;
    }
  }

  &__amount {
    padding-left: 5px;
  }
}
