<!DOCTYPE html>

{{#> common/body
    title=pages.structure.pageTitle
    class="structure-page"
}}
    {{> layout/header title='pages.structure.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Структура</h1>
                </div>

                <div class="content__wrapper">
                    <div class="content__main">
                        <ul class="structure__list">
                            <li class="structure__item">
                                <a href="" class="structure__link link_arrow">Институты<span class="structure__amount">(22)</span></a>
                            </li>
                            <li class="structure__item">
                                <a href="" class="structure__link link_arrow">Департаменты<span class="structure__amount">(1)</span></a>
                            </li>
                            <li class="structure__item">
                                <a href="" class="structure__link link_arrow">Факультеты<span class="structure__amount">(5)</span></a>
                            </li>
                            <li class="structure__item">
                                <a href="" class="structure__link link_arrow">Кафедры<span class="structure__amount">(35)</span></a>
                            </li>
                            <li class="structure__item">
                                <a href="" class="structure__link link_arrow">Советы<span class="structure__amount">(22)</span></a>
                            </li>
                            <li class="structure__item">
                                <a href="" class="structure__link link_arrow">Управление<span class="structure__amount">(22)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}