@use '~/styles/colors';

.news__detail {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .news {
    &__publication {
      color: colors.$text-main;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 16px;
      width: 100%;
    }

    &__image {
      border-bottom: 8px solid colors.$orange;
      border-radius: 5px;
      overflow: hidden;
      position: sticky;
      top: 42px;

      @media (max-width: 991px) {
        width: fit-content;
      }

      img {
        display: block;
        width: 100%;

        @media (max-width: 991px) {
          max-height: 400px;
          max-width: 100%;
          width: auto;
        }
      }
    }

    &__title {
      color: colors.$text-main;
      font-size: 50px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 20px;
      text-transform: uppercase;

      @media (max-width: 1440px) {
        font-size: 36px;
        line-height: 1.2;
      }

      @media (max-width: 991px) {
        font-size: 28px;
      }

      @media (max-width: 767px) {
        font-size: 24px;
      }

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }
  }
}
