<!DOCTYPE html>

{{#> common/body
    title=pages.news_detail.pageTitle
    class="news_detail-page"
}}
    {{> layout/header title='pages.news_detail.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="news__detail">                
                <div class="content">
                    <p class="news__publication">Дата публикации: 15 июля 2022 г.</p>
                    
                    <div class="content__main">
                        <div class="news__header content__header">
                            <h1 class="news__title content__title">Выборы и конкурсный отбор на замещение должностей профессорско-преподавательского состава КГПУ им. В. П. Астафьева </h1>
                            <h2 >Заголовок второго уровня</h2>
                            <p class="content__text">Объявлено о проведении IV Международного дистанционного конкурса для студентов, магистрантов, аспирантов «Студент года». Призовой фонд – 45 000 рублей. Целью проведения ежегодного конкурса «Студент года» является публичное признание достижений студентов, их умений. Конкурс для студентов, магистрантов, аспирантов проводится  по  направлениям и номинациям: </p>
                            <ul class="content__list content__list_decorated">
                                <li class="content__item">«Молодой ученый»</li>
                                <li class="content__item">«Молодой ученый»</li>
                                <li class="content__item">«Молодой ученый»</li>
                                <li class="content__item">«Молодой ученый»</li>
                            </ul>
                            <h3>Заголовок третьего уровня</h3>
                            <p class="content__text">Объявлено о проведении IV Международного дистанционного конкурса для студентов, магистрантов, аспирантов «Студент года». Призовой фонд – 45 000 рублей. Целью проведения ежегодного конкурса «Студент года» является публичное признание достижений студентов, их умений. Конкурс для студентов, магистрантов, аспирантов проводится  по  направлениям и номинациям: </p>
                            <h4>Заголовок четвертого уровня</h4>
                            <p class="content__text">Объявлено о проведении IV Международного дистанционного конкурса для студентов, магистрантов, аспирантов «Студент года». Призовой фонд – 45 000 рублей. Целью проведения ежегодного конкурса «Студент года» является публичное признание достижений студентов, их умений. Конкурс для студентов, магистрантов, аспирантов проводится  по  направлениям и номинациям: </p>
                            <blockquote class="content__quote">Объявлено о проведении IV Международного дистанционного конкурса для студентов, магистрантов, аспирантов «Студент года». Призовой фонд – 45 000 рублей.
                                <p class="content__quote__signature">Фамилия Имя</p>
                            </blockquote>
                            <img class="content__image" src="/img/content/slide1.png" alt="news">
                            <h4>Заголовок четвертого уровня</h4>
                            <p class="content__text">Объявлено о проведении IV Международного дистанционного конкурса для студентов, магистрантов, аспирантов «Студент года». Призовой фонд – 45 000 рублей. Целью проведения ежегодного конкурса «Студент года» является публичное признание достижений студентов, их умений. Конкурс для студентов, магистрантов, аспирантов проводится  по  направлениям и номинациям: 
                                <a class="content__link link_arrow" href="">Ссылка в тексте</a>
                            </p>
                            <p class="content__text">Объявлено о проведении IV Международного дистанционного конкурса для студентов, магистрантов, аспирантов «Студент года». Призовой фонд – 45 000 рублей. Целью проведения ежегодного конкурса «Студент года» является публичное признание достижений студентов, их умений. Конкурс для студентов, магистрантов, аспирантов проводится  по  направлениям и номинациям: </p>
                            <div class="content__images-block">
                                <img class="content__image" src="/img/content/slide1.png" alt="news">
                                <img class="content__image" src="/img/content/news5.png" alt="news">
                                <img class="content__image" src="/img/content/news5.png" alt="news">
                                <img class="content__image" src="/img/content/news5.png" alt="news">
                            </div>
                                <a class="content__link content__link_single link_arrow" href="">Ссылки на подстраницы списком после всего текста</a>
                                <a class="content__link content__link_single link_arrow" href="">Ссылки на подстраницы списком после всего текста в две строки</a>
                                <a class="content__link content__link_single link_arrow" href="">Ссылки на подстраницы списком после всего текста в две строки</a>


                        </div>
                    </div>
                    
                    <div class="content__sidebar">
                        <div class="news__image">
                            <img src="/img/content/news4.png" alt="news">
                        </div>
                    </div>
                </div>
            </div>
        
        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}