<a class="information__card" href="{{item.link}}">
    <div class="information__card__image">
        <img class="information__card__image__img" src="{{item.img}}" alt="{{item.title}}">
    </div>
</a>
