<!DOCTYPE html>

{{#> common/body
    title=pages.divisions_list.pageTitle
    class="divisions_list-page"
}}
    {{> layout/header title='pages.divisions_list.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Институты</h1>
                </div>

                <div class="content__wrapper">
                    <h2 class="divisions__title">Общевузовские кафедры (дополнительный заголовок)</h2>
                    <ul class="divisions__list">
                        <li class="divisions__item">
                            <a href="" class="divisions__link">
                                <div class="divisions__left">
                                    <img class="divisions__image"  src="img/content/worker1.png" alt="divisions">
                                    <p class="divisions__position">Кандидат исторических наук</p>
                                    <h4 class="divisions__name">Буланков Василий Валерьевич</h4>
                                </div>
                                <div class="divisions__right">
                                    <div class="divisions__header">
                                        <h2 class="divisions__subtitle">Институт психолого-педагогического образования</h2>
                                        <div class="divisions__social__list social__list">
                                            <object class="divisions__social__item social__item">
                                                <a href="https://t.me"><img src="img/icon-telegram_b.svg" alt="telegram"></a>
                                            </object>
                                            <object class="divisions__social__item social__item">
                                                <a href="https://vk.com"><img src="img/icon-vk_b.svg" alt="vk"></a>
                                            </object>
                                        </div>
                                        <button class="button button_more button_round"></button>
                                    </div>
                                    <p class="divisions__address link_address"><span class="divisions__address_highlighted">Адрес:</span>660049, г Красноярск, ул Перенсона /  7 Корпус № 4 кабинет 1-16</p>
                                    <object>
                                        <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru"><span class="divisions__address_highlighted">e-mail:</span>bulankovv@mail.ru</a>
                                    </object>
                                    <div class="divisions__contacts">
                                        <div class="divisions__col">
                                            <p class="divisions__post">Деканат</p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                        <div class="divisions__col">
                                            <p class="divisions__post">Деканат (приемная, заместитель декана по учебной деятельности, заместитель декана по внеучебной деятельности, заместитель декана по непрерывному обучению, специалист по расписанию): </p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                         <div class="divisions__col">
                                            <p class="divisions__post">Заместитель декана по учебной деятельности:  </p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                        <div class="divisions__social__list social__list">
                                            <object class="divisions__social__item social__item">
                                                <a href="https://t.me"><img src="img/icon-telegram_b.svg" alt="telegram"></a>
                                            </object>
                                            <object class="divisions__social__item social__item">
                                                <a href="https://vk.com"><img src="img/icon-vk_b.svg" alt="vk"></a>
                                            </object>
                                        </div>
                                        
                                    </div>

                                </div>
                            </a>
                        </li>

                        <li class="divisions__item">
                            <a href="" class="divisions__link">
                                <div class="divisions__left">
                                    <img class="divisions__image"  src="img/content/worker3.png" alt="divisions">
                                    <p class="divisions__position">Кандидат исторических наук</p>
                                    <h4 class="divisions__name">Буланков Василий Валерьевич</h4>
                                </div>
                                <div class="divisions__right">
                                    <div class="divisions__header">
                                        <h2 class="divisions__subtitle">Институт психолого-педагогического образования</h2>
                                        <div class="divisions__social__list social__list">
                                            <object class="divisions__social__item social__item">
                                                <a href="https://t.me"><img src="img/icon-telegram.svg" alt="telegram"></a>
                                            </object>
                                            <object class="divisions__social__item social__item">
                                                <a href="https://vk.com"><img src="img/icon-vk.svg" alt="vk"></a>
                                            </object>
                                        </div>
                                    </div>
                                    <p class="divisions__address link_address"><span class="divisions__address_highlighted">Адрес:</span>660049, г Красноярск, ул Перенсона /  7 Корпус № 4 кабинет 1-16</p>
                                    <object>
                                        <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru"><span class="divisions__address_highlighted">e-mail:</span>bulankovv@mail.ru</a>
                                    </object>
                                    <div class="divisions__contacts">
                                        <div class="divisions__col">
                                            <p class="divisions__post">Деканат</p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                        <div class="divisions__col">
                                            <p class="divisions__post">Деканат (приемная, заместитель декана по учебной деятельности, заместитель декана по внеучебной деятельности, заместитель декана по непрерывному обучению, специалист по расписанию): </p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                         <div class="divisions__col">
                                            <p class="divisions__post">Заместитель декана по учебной деятельности:  </p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                        
                                    </div>

                                </div>
                            </a>
                        </li>

                        <li class="divisions__item">
                            <a href="" class="divisions__link">
                                <div class="divisions__left">
                                    <img class="divisions__image"  src="img/content/worker5.png" alt="divisions">
                                    <p class="divisions__position">Кандидат исторических наук</p>
                                    <h4 class="divisions__name">Буланков Василий Валерьевич</h4>
                                </div>
                                <div class="divisions__right">
                                    <div class="divisions__header">
                                        <h2 class="divisions__subtitle">Институт психолого-педагогического образования</h2>
                                        <div class="divisions__social__list social__list">
                                            <object class="divisions__social__item social__item">
                                                <a href="https://t.me"><img src="img/icon-telegram.svg" alt="telegram"></a>
                                            </object>
                                            <object class="divisions__social__item social__item">
                                                <a href="https://vk.com"><img src="img/icon-vk.svg" alt="vk"></a>
                                            </object>
                                        </div>
                                    </div>
                                    <p class="divisions__address link_address"><span class="divisions__address_highlighted">Адрес:</span>660049, г Красноярск, ул Перенсона /  7 Корпус № 4 кабинет 1-16</p>
                                    <object>
                                        <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru"><span class="divisions__address_highlighted">e-mail:</span>bulankovv@mail.ru</a>
                                    </object>
                                    <div class="divisions__contacts">
                                        <div class="divisions__col">
                                            <p class="divisions__post">Деканат</p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                        <div class="divisions__col">
                                            <p class="divisions__post">Деканат (приемная, заместитель декана по учебной деятельности, заместитель декана по внеучебной деятельности, заместитель декана по непрерывному обучению, специалист по расписанию): </p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                         <div class="divisions__col">
                                            <p class="divisions__post">Заместитель декана по учебной деятельности:  </p>
                                             <object>
                                                <a class="divisions__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                            </object>
                                            <object>
                                                <a class="divisions__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                                            </object>
                                        </div>
                                        
                                    </div>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}

