<!DOCTYPE html>

{{#> common/body
    title=pages.documents.pageTitle
    class="sitemap-page"
}}
    {{> layout/header title='pages.sitemap.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Карта сайта</h1>
                </div>

                <div class="content__wrapper">
                    <ul class="sitemap__list">
                        <li class="sitemap__item">
                            <a href="" class="sitemap__link">Ректор</a>
                            <ul class="sitemap__sublist">
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sitemap__item">
                            <a href="" class="sitemap__link">Ректор</a>
                            <ul class="sitemap__sublist">
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sitemap__item">
                            <a href="" class="sitemap__link">Ректор</a>
                            <ul class="sitemap__sublist">
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                
                                    <ul class="sitemap__sublist">
                                        <li class="sitemap__subitem">
                                            <a href="" class="sitemap__link">Страница ректора</a>
                                        </li>
                                        <li class="sitemap__subitem">
                                            <a href="" class="sitemap__link">Страница ректора</a>
                                        </li>
                                        <li class="sitemap__subitem">
                                            <a href="" class="sitemap__link">Страница ректора</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sitemap__item">
                            <a href="" class="sitemap__link">Ректор</a>
                            <ul class="sitemap__sublist">
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                                <li class="sitemap__subitem">
                                    <a href="" class="sitemap__link">Страница ректора</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>

            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}