@use '~/styles/colors';

.sitemap {
  &-wrapper {
    max-width: 1120px;
  }

  &__item {
    margin-bottom: 62px;
  }

  &__sublist {
    margin-top: 36px;
    padding-left: 40px;

    .sitemap__sublist {
      margin: 24px 0;
    }
  }

  &__link {
    color: colors.$text-main;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    transition: all 0.3s ease;

    &:hover {
      color: colors.$blue;
      text-decoration: underline;
    }
  }

  &__subitem {
    margin-bottom: 18px;
    padding-left: 14px;
    position: relative;

    &::before {
      background-image: url('../img/icon-arrow_light.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 8px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 5px;
    }

    .sitemap__subitem {
      &::before {
        background-image: url('../img/icon-arrow_light_double.svg');
        width: 8px;
      }
    }

    .sitemap__link {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
