@use '~/styles/colors';

.info {
  margin-bottom: 142px;

  @media (max-width: 480px) {
    margin-bottom: 80px;
  }

  .section__header {
    @media (max-width: 480px) {
      margin: 0;
    }
  }

  &__glide {
    &__track {
      border-bottom: 1px solid rgba(102, 142, 169, 0.5);
      border-top: 1px solid rgba(102, 142, 169, 0.5);
      margin: 0 -16px;
      padding: 64px 0 74px;

      @media (max-width: 480px) {
        padding: 10px 0;
      }
    }
  }

  .glide__arrows {
    @media (max-width: 480px) {
      display: flex;
      justify-content: space-between;
      left: 3px;
      position: absolute;
      right: 3px;
      top: 50%;
      width: auto;
      z-index: 5;
    }
  }

  &__list {
    &__item {
      align-self: center;
      display: flex;
      padding: 0 16px;
    }
  }

  &__slide {
    display: block;

    &__img {
      display: block;
      max-height: 120px;
      object-fit: contain;
      width: 100%;
    }
  }
}
