@use '~/styles/colors';

.info {
  margin-bottom: 142px;

  &__glide {
    &__track {
      border-bottom: 1px solid rgba(102, 142, 169, 0.5);
      border-top: 1px solid rgba(102, 142, 169, 0.5);
      margin: 0 -16px;
      padding: 64px 0 74px;
    }
  }

  &__list {
    &__item {
      align-self: center;
      display: flex;
      padding: 0 16px;
    }
  }

  &__slide {
    display: block;

    &__img {
      display: block;
      max-height: 120px;
      object-fit: contain;
      width: 100%;
    }
  }
}
