@use '~/styles/colors';

.divisions {
  &__list {
    width: 100%;
  }

  &__item {
    background-color: colors.$white;
    border-radius: 5px;
    width: 100%;

    + .divisions__item {
      margin-top: 22px;
    }
  }

  &__link {
    display: flex;
    padding: 30px 48px 22px 35px;
    width: 100%;
  }

  &__left {
    max-width: 265px;
    text-align: center;
    width: 100%;
  }

  &__image {
    border-radius: 0 0 150px 150px;
    margin: 0 auto 26px;
    max-width: 205px;
    overflow: hidden;
    width: 100%;
  }

  &__position {
    color: colors.$light-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  &__right {
    padding-left: 84px;
    width: calc(100% - 265px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__title {
    color: #0c4458;
    margin-bottom: 36px;
  }

  &__subtitle {
    max-width: 50%;
  }

  &__social {
    &__list {
      background-color: red;
    }
  }

  &__address,
  &__email,
  &__phone {
    color: #273d45;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;

    &_highlighted {
      font-weight: 600;
      margin-right: 6px;
      text-transform: uppercase;
    }
  }

  &__email,
  &__phone {
    &:hover {
      color: colors.$blue;
      text-decoration: underline;
    }
  }

  &__contacts {
    display: flex;
    margin: 30px -13px 0;
  }

  &__col {
    padding: 0 13px;
    width: 33.3%;

    .division__phone {
      margin-bottom: 14px;
    }

    .division__email {
      margin-bottom: 0;
    }
  }

  &__post {
    color: colors.$light-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}
