@use '~/styles/colors';

.divisions {
  &__list {
    width: 100%;
  }

  &__item {
    background-color: colors.$white;
    border-radius: 5px;
    width: 100%;

    + .divisions__item {
      margin-top: 22px;
    }
  }

  &__link {
    display: flex;
    padding: 30px 48px 22px 35px;
    width: 100%;

    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }

    @media (max-width: 767px) {
      padding: 30px 18px 46px;
    }
  }

  &__left {
    max-width: 265px;
    text-align: center;
    width: 100%;

    @media (max-width: 767px) {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  &__image {
    border-radius: 0 0 150px 150px;
    margin: 0 auto 26px;
    max-width: 205px;
    overflow: hidden;
    width: 100%;
  }

  &__position {
    color: colors.$light-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  &__name {
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__right {
    padding-left: 84px;
    width: calc(100% - 265px);

    @media (max-width: 1199px) {
      padding-left: 50px;
    }

    @media (max-width: 767px) {
      max-width: 100%;
      padding-left: 0;
      width: 100%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    .divisions__social__list {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .button_more {
      display: none;

      @media (max-width: 767px) {
        display: block;
        height: 28px;
        width: 28px;
      }

      &::after {
        height: 4px;
        width: 6px;
      }
    }
  }

  &__title {
    color: #0c4458;
    margin-bottom: 36px;
  }

  &__subtitle {
    max-width: 50%;

    @media (max-width: 1199px) {
      max-width: 100%;
      padding-right: 20px;
      width: calc(100% - 28px);
    }
    @media (max-width: 767px) {
      padding-right: 12px;
    }
  }

  &__address,
  &__email,
  &__phone {
    color: #273d45;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;

    &_highlighted {
      font-weight: 600;
      margin-right: 6px;
      text-transform: uppercase;
    }
  }

  &__email,
  &__phone {
    &:hover {
      color: colors.$blue;
      text-decoration: underline;
    }
  }

  &__contacts {
    display: flex;
    margin: 30px -13px 0;

    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }

    .divisions__social__list {
      display: none;

      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }

  &__col {
    padding: 0 13px;
    width: 33.3%;

    @media (max-width: 1199px) {
      margin-bottom: 24px;
      width: 100%;
    }

    .division__phone {
      margin-bottom: 14px;
    }

    .division__email {
      margin-bottom: 0;
    }
  }

  &__post {
    color: colors.$light-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}
