@use '~/styles/colors';

.worker-page {
  .content__main {
    // &_big {}

    &__title {
      color: colors.$text-main;
      font-size: 40px;
      font-weight: 700;
      line-height: 49px;
      margin-bottom: 22px;

      @media (max-width: 991px) {
        text-align: center;
      }

      @media (max-width: 767px) {
        font-size: 32px;
        line-height: 1.2;
      }

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    &__position {
      color: colors.$text-main;
      font-size: 30px;
      font-weight: 500;
      line-height: 37px;
      margin-bottom: 22px;

      @media (max-width: 991px) {
        line-height: 1.2;
        text-align: center;
      }

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    &__phone,
    &__email {
      color: colors.$text-main;
      display: inline-block;
      font-size: 30px;
      font-weight: 500;
      line-height: 37px;
      margin-bottom: 42px;
      margin-right: 40px;
      padding-left: 40px;

      @media (max-width: 991px) {
        display: block;
        line-height: 1.2;
        margin: 0 auto 16px;
        width: fit-content;
      }

      @media (max-width: 480px) {
        font-size: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__phone {
      &::before {
        height: 20px;
        width: 20px;
      }
    }

    &__email {
      &::before {
        height: 17px;
        width: 22px;
      }
    }

    &__caption {
      @media (max-width: 1199px) {
        line-height: 1.5;
        width: 100%;
      }

      @media (max-width: 480px) {
        font-size: 20px;
      }

      &::after {
        display: none;
      }

      a {
        color: inherit;
        margin-bottom: 16px;
        margin-right: 16px;

        &:hover {
          text-decoration: underline;
        }
      }

      .content__main__post {
        font-size: 20px;
        line-height: 36px;
        margin-left: 16px;

        @media (min-width: 992px) and (max-width: 1199px) {
          margin-left: 0;
        }

        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
    }

    &__post {
      color: colors.$light-blue;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
    }

    &__link {
      color: #0c4458;
      display: inline-block;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 14px;

      &:hover {
        text-decoration: underline;
      }
    }

    &__item {
      + .content__main__item {
        margin-top: 22px;
      }
    }

    &__subtitle {
      margin-bottom: 26px;
      margin-top: 36px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &__string {
      display: flex;
      margin-bottom: 26px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .content__text {
        margin-bottom: 0;
      }
    }

    &__year {
      color: #0c4458;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
      padding-right: 25px;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    &__card {
      @media (max-width: 991px) {
        padding: 30px 20px;
      }

      &._toggle_active {
        .accordion__caption::after {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }

      &:first-of-type {
        @media (max-width: 991px) {
          margin-top: 42px;
        }
      }
    }
  }

  .content__item {
    &_awards {
      list-style-type: none;
      margin-left: 0;
      padding-left: 35px;
      position: relative;

      &::after {
        background-image: url('../img/icon-awards.svg');
        background-size: contain;
        content: '';
        display: block;
        height: 25px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
      }
    }
  }

  .accordion__caption {
    cursor: initial;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;

    @media (max-width: 1400px) {
      padding-right: 50px;
    }
  }
}

.worker-button {
  height: 38px;
  vertical-align: bottom;

  @media (max-width: 1400px) {
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    @media (max-width: 480px) {
      height: 7px;
      width: 12px;
    }
  }
}

._toggle_active {
  .worker-button {
    &::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
