<!DOCTYPE html>

{{#> common/body
    title=pages.worker.pageTitle
    class="worker-page"
}}
    {{> layout/header title='pages.worker.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__wrapper">
                    <div class="content__sidebar_small">
                        {{!-- <div class="content__sidebar__card"></div> --}}
                        <img class="content__sidebar_small__image"  src="/img/content/worker1.png" alt="worker">
                    </div>
                    <div class="content__main_big">
                        <h3 class="content__main__title">Буланков Василий Валерьевич</h3>
                        <p class="content__main__position">Кандидат исторических наук</p>
                        <a class="content__main__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                        <a class="content__main__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>

                        <div class="content__main__card">
                            <p class="content__main__caption accordion__caption _toggle _toggle__button">Исторический факультет <span class="content__main__post">Декан факультета</span></p>
                            <div class="accordion__content _toggle__container">
                                <ul class="content__main__list">
                                    <li class="content__main__item">
                                        <a class="content__main__link link_arrow" href="">Кафедра отечественной истории</a>
                                        <p class="content__main__post">Доцент кафедры</p>
                                    </li>
                                    <li class="content__main__item">
                                        <a class="content__main__link link_arrow" href="">Кафедра политологии</a>
                                        <p class="content__main__post">Доцент кафедры</p>
                                    </li>
                                    <li class="content__main__item">
                                        <a class="content__main__link link_arrow" href="">Учёный совет</a>
                                        <p class="content__main__post">Член учёного совета</p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="content__main__card">
                                <p class="content__main__caption accordion__caption _toggle__button">Основная информация</p>
                                <div class="accordion__content _toggle__container">
                                    <h4 class="content__main__subtitle">Образование</h4> 
                                    <div class="content__main__string">
                                        <p class="content__main__year">1981</p>
                                        <p class="content__text">Окончил Уральский государственный университет им. А.М. Горького, философский факультет, отделение - научный коммунизм</p>
                                    </div>
                                    <div class="content__main__string">
                                        <p class="content__main__year">1997</p>
                                        <p class="content__text">Кандидатская диссертация</p>
                                    </div>
                                    <h4 class="content__main__subtitle">Повышение квалификации</h4> 
                                    <div class="content__main__string">
                                        <p class="content__main__year">1997</p>
                                        <p class="content__text">Окончил Уральский государственный университет им. А.М. Горького, философский факультет, отделение - научный коммунизм</p>
                                    </div>
                                    <div class="content__main__string">
                                        <p class="content__main__year">1997</p>
                                        <p class="content__text">Кандидатская диссертация</p>
                                    </div>
                                    <h4 class="content__main__subtitle">Сфера научных достижений и интересов</h4> 
                                    <ul class="content__list">
                                        <li class="content__item">История Сибири</li>
                                        <li class="content__item">История Якутии</li>
                                    </ul>
                                    <h4 class="content__main__subtitle">Образовательная деятельность</h4> 
                                        <p class="content__text">Учебная дисциплина «Вспомогательные исторические дисциплины»</p>
                                        <p class="content__text">Учебная дисциплина «История России»</p>
                                    <h4 class="content__main__subtitle">Благодарности и награды</h4> 
                                    <ul class="content__list">
                                        <li class="content__item content__item_awards">Почетная грамота министерства образования и науки</li>
                                    </ul>


                                </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}

