@use '~/styles/colors';

.phonebook {
  &__search {
    margin-bottom: 42px;

    .search {
      width: 608px;

      &__input {
        border: 1px solid colors.$light-blue;
        width: 608px;
      }
    }
  }

  &__list {
    width: 100%;
  }

  &__item {
    &__head {
      background: colors.$grey;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;
      width: 100%;
    }

    &__body {
      margin: 12px 0 42px;
    }

    &__title {
      color: colors.$text-main;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      text-transform: uppercase;
    }

    & + .phonebook__item {
      margin-top: 14px;
    }

    &__button {
      background-color: #d9dada;
    }

    &__table {
      &-desctop {
        width: 100%;

        .phonebook__table {
          border-collapse: collapse;
          width: 100%;

          &__header {
            tr {
              background-color: colors.$grey;
              border-radius: 5px;
            }

            td {
              color: colors.$text-main;
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              padding: 16px 32px;
            }
          }

          &__body {
            tr {
              background-color: colors.$white;
              border-bottom: 1px solid rgb(102 142 169 / 0.3);
            }

            td {
              color: colors.$text-main;
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
              padding: 22px 32px 16px;
            }
          }
        }
      }

      // &-mobile {}
    }
  }
}
