@use '~/styles/colors';

.phonebook {
  &__search {
    margin-bottom: 42px;
    width: 100%;

    .search {
      width: 608px;

      @media (max-width: 767px) {
        width: 100%;
      }

      &__input {
        border: 1px solid colors.$light-blue;
        width: 608px;

        @media (max-width: 767px) {
          width: 100%;
        }

        &::placeholder {
          color: colors.$text-main;
        }
      }
    }
  }

  &__list {
    width: 100%;
  }

  &__item {
    &__head {
      align-items: center;
      background: colors.$grey;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;
      width: 100%;
    }

    &__title {
      color: colors.$text-main;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.5;
      }
    }

    & + .phonebook__item {
      margin-top: 14px;
    }

    &__button {
      background-color: #d9dada;
      height: 50px;
      width: 50px;
    }

    &__table {
      &-desktop {
        display: block;
        margin: 12px 0 42px;
        width: 100%;

        @media (max-width: 767px) {
          display: none;
        }

        .phonebook__table {
          border-collapse: collapse;
          width: 100%;

          &__header {
            tr {
              background-color: colors.$grey;
              border-radius: 5px;
            }

            td {
              color: colors.$text-main;
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              padding: 16px 32px;
            }
          }

          &__body {
            tr {
              background-color: colors.$white;
              border-bottom: 1px solid rgb(102 142 169 / 0.3);
            }

            td {
              color: colors.$text-main;
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
              padding: 22px 32px 16px;
            }
          }
        }
      }

      &-mobile {
        display: none;
        margin: 24px 0 32px;

        @media (max-width: 767px) {
          display: block;
        }

        .phonebook__table {
          border-collapse: collapse;
          margin-bottom: 18px;
          width: 100%;

          td {
            color: colors.$text-main;
            font-size: 18px;
            line-height: 1.2;
            padding: 20px 25px;

            @media (max-width: 480px) {
              font-size: 14px;
            }
          }

          &__header td {
            background-color: colors.$grey;
            font-weight: 500;
          }

          &__body td {
            background-color: colors.$white;
            border-bottom: 1px solid rgba(102, 142, 169, 0.3);
          }
        }
      }
    }
  }
}
