@use '~/styles/colors';

.workers {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    @media (max-width: 480px) {
      margin: 0 -8px;
    }
  }

  &__item {
    border-radius: 5px;
    margin-bottom: 32px;
    padding: 0 16px;
    width: 25%;

    @media (max-width: 991px) {
      width: 33.3%;
    }

    @media (max-width: 767px) {
      width: 50%;
    }

    @media (max-width: 480px) {
      margin-bottom: 12px;
      padding: 0 4px;
    }
  }

  &__link {
    background-color: rgba(255, 255, 255, 0.6);
    display: block;
    font-weight: 600;
    height: 100%;
    padding: 16px 28px 30px;
    text-align: center;

    @media (max-width: 480px) {
      padding: 14px;
    }
  }

  &__image {
    border-radius: 0 0 150px 150px;
    margin-bottom: 18px;
    max-width: 275px;
    width: 100%;

    @media (max-width: 480px) {
      margin-bottom: 14px;
      max-width: 105px;
    }
  }

  &__name {
    color: colors.$text-main;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;

    @media (max-width: 480px) {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 12px;
    }
  }

  &__post {
    color: colors.$light-blue;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 12px;
      line-height: 15px;
    }

    & + .workers__post {
      margin-top: 16px;

      @media (max-width: 480px) {
        margin-top: 14px;
      }
    }
  }
}
