@use '~/styles/colors';

.popup {
  align-items: center;
  background-color: rgba(#000, 0.1);
  display: none;
  flex-flow: row nowrap;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 10;

  &._open {
    display: flex;
  }

  &__close-area {
    cursor: pointer;
    inset: 0;
    position: absolute;
  }

  &__block {
    background-color: colors.$white;
    border-radius: 10px;
    max-width: 544px;
    padding: 72px 50px 105px;
    position: relative;
    width: 100%;
  }

  &__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 22px;
  }

  &__title {
    color: colors.$text-main;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 37px;
    margin-bottom: 48px;
    text-align: center;
  }

  &__form {
    margin-bottom: 26px;
  }

  &__login,
  &__password {
    position: relative;
    width: 100%;

    &::before {
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      left: 22px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__login {
    margin-bottom: 15px;
    position: relative;
    width: 100%;

    &::before {
      background-image: url('../img/icon-login.svg');
      content: '';
      height: 17px;
      width: 22px;
    }
  }

  &__password {
    &::before {
      background-image: url('../img/icon-password.svg');
      content: '';
      height: 22px;
      width: 19px;
    }
  }

  &__input {
    border: 1px solid #b8bfc7;
    border-radius: 10px;
    overflow: hidden;
    padding: 22px 22px 22px 62px;
  }

  &__btn {
    background-color: colors.$orange;
    border: none;
    border-radius: 10px;
    color: colors.$white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 25px;
    margin-bottom: 26px;
    padding: 24px;
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;

    &:hover {
      background-color: colors.$blue;
    }
  }

  &__registration {
    color: colors.$text-secondary;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
  }

  &__link {
    color: colors.$blue;
    font-weight: 800;

    &:hover {
      text-decoration: underline;
    }
  }
}

// ._open_popup {}
