<div class="popup">
    <div class="popup__block">
        <button class="popup__close">
            <img  class="popup__close__icon" src="img/icon-close.svg" alt="close">
        </button>
        <p class="popup__title">Доступ к документу</p>
        <form class="popup__form" action="">
            <div class="popup__login">
                <input class="popup__input" size="40" name="login" placeholder="Введите логин">
            </div>
            <div class="popup__password">
                <input class="popup__input" type="password" size="40" name="password" placeholder="Введите пароль">
            </div>
        </form>
        <button class="popup__btn">Войти</button>
        <p class="popup__registration">Еще нет аккаунта?
            <a href="" class="popup__link">Зарегистрироваться</a>
        </p>
    </div>
</div>