// Colors
$orange: #ec7501;
$blue: #076b8f;
$light-blue: #668ea9;
$beige: #e9e4de;
$grey: #ebecec;
$light-grey: #f4f4f2;
$white: #fff;
$text-main: #273d45;
$text-secondary: #525556;
$text-headline: #c3baaf;
