@use '~/styles/colors';

.faculty-page,
.divisions-page {
  .content {
    &__main {
      &__text {
        &:first-of-type {
          &::after {
            clear: both;
            content: '';
            display: block;
          }
        }
      }
    }

    &__subtitle {
      margin: 0 0 42px;
    }

    &__emblem {
      background-color: #248e05;
      border-radius: 0 0 64px;
      color: colors.$white;
      display: inline-block;
      float: left;
      margin-bottom: 64px;
      margin-right: 64px;
      max-width: 192px;
      padding: 35px 16px 20px;

      &__top {
        display: flex;
        margin-bottom: 96px;
      }

      &__logo {
        margin-right: 6px;
      }

      &__title {
        border-left: 2px solid colors.$white;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        padding-left: 10px;
        text-transform: uppercase;
      }

      &__year {
        font-size: 56px;
        font-weight: 600;
        line-height: 68px;
        text-transform: uppercase;
      }
    }

    .faculty {
      &__structure {
        margin-bottom: 62px;

        &__list {
          background: colors.$white;
          border-radius: 10px;
          padding: 22px 26px 6px;
        }

        &__item {
          margin-bottom: 16px;
        }

        &__link {
          color: colors.$text-main;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 16px;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__meetings {
        margin-bottom: 66px;

        &__list {
          margin-bottom: 42px;
        }

        &__item {
          background: colors.$white;
          border-radius: 5px;
          margin-bottom: 12px;
          padding: 22px 16px;
        }

        &__link {
          &:hover {
            .faculty__meetings__name,
            .faculty__meetings__address {
              text-decoration: none;
            }
          }
        }

        &__name {
          color: colors.$text-main;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          text-decoration: underline;
        }

        &__date {
          color: colors.$blue;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          padding-right: 22px;
        }

        &__address {
          color: #668ea9;
          font-size: 16px;
          line-height: 20px;
          text-decoration: underline;
        }

        &__all {
          color: colors.$text-main;
          display: block;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          padding-right: 36px;
          position: relative;
          text-align: right;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }

          &::after {
            background-image: url('/img/icon-arrow_big.svg');
            content: '';
            height: 12px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(320deg);
            width: 16px;
          }
        }
      }

      &__directions {
        width: 100%;

        .directions {
          &__card {
            &__list {
              width: 100%;
            }

            &__item {
              $item-height: 256px;

              background-color: colors.$white;
              border-radius: 5px;
              height: $item-height;
              margin-bottom: 32px;
              overflow: hidden;
              padding: 30px 26px;

              /* width: calc(100% / 3); */
              width: 480px;

              &_high {
                height: $item-height * 2 + 32px;
              }
            }

            &__header {
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
            }

            &__label {
              background-color: colors.$blue;
              border-radius: 5px;
              color: colors.$white;
              line-height: 24px;
              padding: 0 12px;
              text-transform: uppercase;
            }

            &__degree,
            &__profile,
            &__type {
              color: colors.$text-main;
              font-size: 20px;
              line-height: 24px;
              text-transform: uppercase;
            }

            &__degree {
              color: colors.$light-blue;
              font-weight: 600;
              padding-right: 10px;
            }

            &__profile {
              font-weight: 600;
              margin-bottom: 16px;
            }

            &__type {
              font-weight: 400;
              margin-bottom: 16px;
            }

            &__subject {
              &__list {
                & + .directions__card__profile {
                  margin-top: 34px;
                }
              }

              &__item {
                border-left: 4px solid colors.$orange;
                color: colors.$text-main;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 10px;
                padding-left: 16px;
              }
            }
          }
        }
      }
    }

    &__sidebar {
      &__header {
        display: flex;
        margin-bottom: 46px;
      }

      &__logo {
        margin-right: 16px;
      }

      &__title {
        border-left: 3px solid #248e05;
        color: #248e05;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.5;
        padding-left: 20px;
        text-transform: uppercase;
      }

      &__address-block {
        margin-bottom: 30px;
      }

      &__time-block {
        margin-bottom: 42px;
      }

      &__address,
      &__time {
        color: colors.$text-main;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        padding-left: 40px;
      }

      &__address {
        margin-bottom: 16px;
      }

      &__time {
        margin-bottom: 12px;

        &:last-of-type {
          margin-top: 16px;
        }
      }

      &__topic {
        color: colors.$text-main;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 16px;
        text-transform: uppercase;
      }

      &__social-block {
        justify-content: flex-start;
        padding-left: 40px;
      }
    }
  }
}
