<!DOCTYPE html>

{{#> common/body
    title=pages.faculty.pageTitle
    class="faculty-page"
}}
    {{> layout/header title='pages.faculty.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Исторический факультет</h1>
                </div>

                <div class="content__wrapper">

                    {{> common/tags}}

                    <div class="content__main">

                        <div class="faculty__information">
                            <h3 class="content__subtitle">Информация о факультете</h3>
                            <div class="content__emblem">
                                <div class="content__emblem__top">
                                    <img  class="content__emblem__logo" src="/img/logo_small.svg" alt="logo">
                                    <p class="content__emblem__title">Исторический факультет</p>
                                </div>
                                <div class="content__emblem__bottom">
                                    <p class="content__emblem__text">открыт в</p>
                                    <p class="content__emblem__year">1942</p>
                                </div>
                            </div>
                            <p class="content__text">Исторический факультет был открыт в 1942 году. В течение ряда лет входил в состав историко-филологического факультета Красноярского государственного педагогического института. С 1977 года существует как самостоятельный факультет. Крупнейший среди исторических факультетов Восточной Сибири. С 2012 года деканом исторического факультета является Василий Валерьевич Буланков. В настоящее время факультет является мощным научно-образовательным подразделением, не имеющим аналогов в регионе по уровню профессорско-преподавательского состава и глубине научно-исследовательских работ в гуманитарной сфере (археология, история Сибири, Приенисейского края, стран Европы, Америки и Азии, весь комплекс политологических дисциплин, сфера культурного наследия). Факультет сегодня является центром обеспечения Красноярского края учителями истории и обществознания, специалистами в сфере политологии и политической практики, музейного дела, научными сотрудниками.</p>
                            {{!-- <p class="content__text"></p> --}}
                            
                            <ul class="content__list">
                                <li class="content__caption">Направления подготовки, по которым объявлен новый набор-2022:</li>
                                <li class="content__item"><span class="content__text_underline">Бакалавриат (очно):</span> Педагогическое образование (с двумя профилями подготовки), профили: История и иностранный язык (английский язык), История и право, История и обществознание; Политология, профиль Российская политика.</li>
                                <li class="content__item"><span class="content__text_underline">Бакалавриат (заочно):</span> Педагогическое образование, профиль История.</li>
                                <li class="content__item"><span class="content__text_underline">Магистратура (очно):</span> Педагогическое образование, программа Социально-историческое образование в условиях меняющихся профессиональных стандартов. </li>
                                <li class="content__item"><span class="content__text_underline">Магистратура (заочно):</span> Педагогическое образование, программа Политическая история и политическая культура. </li>
                                <li class="content__item"><span class="content__text_underline">Аспирантура (заочно):</span> Исторические науки и археология, программы: Отечественная история, Всеобщая история. Учебный процесс обеспечивают кафедры отечественной истории (зав. кафедрой Ирина Николаевна Ценюга), всеобщей истории (зав. кафедрой Елена Леонидовна Зберовская), политологии и права (зав. кафедрой Марина Викторовна Константинова). На факультете большинство преподавателей имеют ученые степени докторов и кандидатов наук. Преподавательскую деятельность на факультете осуществляют специалисты, известнейшие в своей области не только в России, но и за рубежом.</li>
                                {{!-- <li class="content__item"><span class="content__text_underline"></span></li> --}}
                            </ul>
                            
                            <p class="content__text">Учебный процесс обеспечивают кафедры отечественной истории (зав. кафедрой Ирина Николаевна Ценюга), всеобщей истории (зав. кафедрой Елена Леонидовна Зберовская), политологии и права (зав. кафедрой Марина Викторовна Константинова). На факультете большинство преподавателей имеют ученые степени докторов и кандидатов наук. Преподавательскую деятельность на факультете осуществляют специалисты, известнейшие в своей области не только в России, но и за рубежом</p>
                        </div>
                        <div class="faculty__structure">
                            <h3 class="content__subtitle">Структура факультета</h3>
                            <ul class="faculty__structure__list content__list_decorated">
                                <li class="faculty__structure__item content__item">
                                    <a href="" class="faculty__structure__link">Кафедра отечественной истории</a>
                                </li>
                                <li class="faculty__structure__item content__item">
                                    <a href="" class="faculty__structure__link">Кафедра отечественной истории</a>
                                </li>
                                <li class="faculty__structure__item content__item">
                                    <a href="" class="faculty__structure__link">Кафедра политологии и права</a>
                                </li>
                                <li class="faculty__structure__item content__item">
                                    <a href="" class="faculty__structure__link">Кафедра отечественной истории</a>
                                </li>
                                <li class="faculty__structure__item content__item">
                                    <a href="" class="faculty__structure__link">МУЗЕЙ АРХЕОЛОГИИ И ЭТНОГРАФИИ КГПУ ИМ. В.П. АСТАФЬЕВА</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content__sidebar">
                        <div class="content__sidebar__card">
                            <div class="content__sidebar__header">
                                <img  class="content__sidebar__logo" src="/img/logo_small_g.svg" alt="logo">
                                <p class="content__sidebar__title">Исторический факультет</p>
                            </div>
                            <div class="content__sidebar__address-block">
                                <p class="content__sidebar__topic link_address">Режим работы:</p>
                                <p class="content__sidebar__address">660077, г.Красноярск, ул.Взлетная,20</p>
                                <p class="content__sidebar__address">Деканат: корпус № 5, кабинет 2-01 </p>
                            </div>
                            <div class="content__sidebar__time-block">
                                <p class="content__sidebar__topic link_time">Адрес:</p>
                                <p class="content__sidebar__time">пн-чт: 8:30 - 17:30</p>
                                <p class="content__sidebar__time">пт: 8:30 - 16:30</p>
                                <p class="content__sidebar__time">перерыв: 13:00 - 13:45</p>
                                <p class="content__sidebar__time">сб-вс: выходной</p>
                            </div>
                            <div class="content__sidebar__social-block social__list">
                                <a href="https://t.me" class="content__sidebar__social-item social__item"><img src="/img/icon-telegram_b.svg" alt="telegram"></a>
                                <a href="https://vk.com" class="content__sidebar__social-item social__item"><img src="/img/icon-vk_b.svg" alt="vk"></a>
                            </div>

                        </div>
                        <div class="content__sidebar__card">
                            <div class="content__sidebar__block content__sidebar__block_main">
                                <p class="content__sidebar__caption">Декан факультета</p>
                                <p class="content__sidebar__name">Буланков Василий Валерьевич</p>
                                <p class="content__sidebar__post">Кандидат исторических наук</p>
                                <a class="content__sidebar__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                <a class="content__sidebar__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                            </div>
                            <div class="content__sidebar__block">
                                <p class="content__sidebar__caption">Деканат</p>
                                <a class="content__sidebar__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                <a class="content__sidebar__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                            </div>
                            <div class="content__sidebar__block">
                                <p class="content__sidebar__caption">Деканат (приемная, заместитель декана по учебной деятельности, заместитель декана по внеучебной деятельности, заместитель декана по непрерывному обучению, специалист по расписанию): </p>
                                <a class="content__sidebar__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                <a class="content__sidebar__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                            </div>
                            <div class="content__sidebar__block">
                                <p class="content__sidebar__caption">Заместитель декана по учебной деятельности: </p>
                                <a class="content__sidebar__phone link_phone" href="tel:+73912639533">+7 (391) 263 - 95 - 33</a>
                                <a class="content__sidebar__email link_email" href="mailto:bulankovv@mail.ru">bulankovv@mail.ru</a>
                            </div>

                            {{!-- <p class="content__sidebar__name">Буланков Василий Валерьевич</p> --}}

                        </div>
                        <div class="content__sidebar__card">
                            <a href="" class="content__sidebar__link link_arrow">Ссылка на доп. ресурс</a>
                            <a href="" class="content__sidebar__link link_arrow">Ссылка на доп. ресурс</a>
                            <a href="" class="content__sidebar__link link_arrow">Ссылка на доп. ресурс</a>
                        </div>
                    </div>
                </div>
                <div class="content__wrapper">
                    <div class="faculty__directions">
                        <h3 class="content__subtitle">Направления подготовки</h3>

                        <div class="directions__card__list grid">
                            <div class="directions__card__item">
                                <div class="directions__card__header">
                                    <p class="directions__card__degree">Магистратура</p>
                                    <p class="directions__card__label">Очно</p>
                                </div>
                                <p class="directions__card__profile">Педагогическое образование</p>
                                <p class="directions__card__type">Программа</p>
                                <ul class="directions__card__subject__list">
                                    {{!-- <li class="directions__card__subject__item">История</li> --}}
                                    <li class="directions__card__subject__item">Социально-историческое образование в условиях меняющихся профессиональных стандартов</li>
                                </ul>
                            </div>
                            <div class="directions__card__item">
                                <div class="directions__card__header">
                                    <p class="directions__card__degree">Бакалавриат</p>
                                    <p class="directions__card__label">Заочно</p>
                                </div>
                                <p class="directions__card__profile">Педагогическое образование</p>
                                <p class="directions__card__type">Профиль</p>
                                <ul class="directions__card__subject__list">
                                    <li class="directions__card__subject__item">История</li>
                                </ul>
                            </div>
                            <div class="directions__card__item directions__card__item_high">
                                <div class="directions__card__header">
                                    <p class="directions__card__degree">Бакалавриат</p>
                                    <p class="directions__card__label">Очно</p>
                                </div>
                                <p class="directions__card__profile">Педагогическое образование (с двумя профилями подготовки)</p>
                                <p class="directions__card__type">Профили</p>
                                <ul class="directions__card__subject__list">
                                    <li class="directions__card__subject__item">История</li>
                                    <li class="directions__card__subject__item">Социально-историческое образование в условиях меняющихся профессиональных стандартов</li>
                                </ul>
                                <p class="directions__card__profile">Педагогическое образование (с двумя профилями подготовки)</p>
                                <p class="directions__card__type">Профили</p>
                                <ul class="directions__card__subject__list">
                                    <li class="directions__card__subject__item">История</li>
                                    <li class="directions__card__subject__item">Социально-историческое образование в условиях меняющихся профессиональных стандартов</li>
                                </ul>
                            </div>
                            <div class="directions__card__item">
                                <div class="directions__card__header">
                                    <p class="directions__card__degree">Магистратура</p>
                                    <p class="directions__card__label">Очно</p>
                                </div>
                                <p class="directions__card__profile">Педагогическое образование</p>
                                <p class="directions__card__type">Программа</p>
                                <ul class="directions__card__subject__list">
                                    <li class="directions__card__subject__item">Социально-историческое образование в условиях меняющихся профессиональных стандартов</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}