<!DOCTYPE html>

{{#> common/body
    title=pages.faculty.pageTitle
    class="faculty-page"
}}
    {{> layout/header title='pages.faculty.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Исторический факультет</h1>
                </div>

                <div class="content__wrapper">
                    <div class="content__main">
                        <h3 class="content__title_sec">Информация о факультете</h3>
                        <div class="content__emblem">
                            <div class="content__emblem__top">
                                <img  class="content__emblem__logo" src="/img/logo_small.svg" alt="logo">
                                <p class="content__emblem__title">Исторический факультет</p>
                            </div>
                            <div class="content__emblem__bottom">
                                <p class="content__emblem__text">открыт в</p>
                                <p class="content__emblem__year">1942</p>
                            </div>
                        </div>
                        <p class="content__main__text">Исторический факультет был открыт в 1942 году. В течение ряда лет входил в состав историко-филологического факультета Красноярского государственного педагогического института. С 1977 года существует как самостоятельный факультет. Крупнейший среди исторических факультетов Восточной Сибири. С 2012 года деканом исторического факультета является Василий Валерьевич Буланков. В настоящее время факультет является мощным научно-образовательным подразделением, не имеющим аналогов в регионе по уровню профессорско-преподавательского состава и глубине научно-исследовательских работ в гуманитарной сфере (археология, история Сибири, Приенисейского края, стран Европы, Америки и Азии, весь комплекс политологических дисциплин, сфера культурного наследия). Факультет сегодня является центром обеспечения Красноярского края учителями истории и обществознания, специалистами в сфере политологии и политической практики, музейного дела, научными сотрудниками.</p>
                        <p class="content__main__text">Направления подготовки, по которым объявлен новый набор-2022: Бакалавриат (очно): Педагогическое образование (с двумя профилями подготовки), профили: История и иностранный язык (английский язык), История и право, История и обществознание; Политология, профиль Российская политика. Бакалавриат (заочно): Педагогическое образование, профиль История. Магистратура (очно): Педагогическое образование, программа Социально-историческое образование в условиях меняющихся профессиональных стандартов. Магистратура (заочно): Педагогическое образование, программа Политическая история и политическая культура. Аспирантура (заочно): Исторические науки и археология, программы: Отечественная история, Всеобщая история. Учебный процесс обеспечивают кафедры отечественной истории (зав. кафедрой Ирина Николаевна Ценюга), всеобщей истории (зав. кафедрой Елена Леонидовна Зберовская), политологии и права (зав. кафедрой Марина Викторовна Константинова). На факультете большинство преподавателей имеют ученые степени докторов и кандидатов наук. Преподавательскую деятельность на факультете осуществляют специалисты, известнейшие в своей области не только в России, но и за рубежом.</p>
                    </div>
                    <div class="content__sidebar">
                        <div class="ontent__sidebar__card "></div>
                        <div class="ontent__sidebar__card"></div>
                        <div class="ontent__sidebar__card"></div>
                        <div class="ontent__sidebar__card"></div>
                    </div>
                </div>

            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}