<!DOCTYPE html>

{{#> common/body
    title=pages.faculty.pageTitle
    class="faculty-page"
}}
    {{> layout/header title='pages.faculty.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Исторический факультет</h1>
                </div>

                <div class="content__wrapper">
                    <div class="content__main">

                        <div class="faculty__information">
                            <h3 class="content__subtitle">Информация о факультете</h3>
                            <div class="content__emblem">
                                <div class="content__emblem__top">
                                    <img  class="content__emblem__logo" src="/img/logo_small.svg" alt="logo">
                                    {{!-- <svg class="icon content__emblem__logo"><use href="#logo_small" /></svg> --}}
                                    <p class="content__emblem__title">Исторический факультет</p>
                                </div>
                                <div class="content__emblem__bottom">
                                    <p class="content__emblem__text">открыт в</p>
                                    <p class="content__emblem__year">1942</p>
                                </div>
                            </div>
                            <p class="content__text">Исторический факультет был открыт в 1942 году. В течение ряда лет входил в состав историко-филологического факультета Красноярского государственного педагогического института. С 1977 года существует как самостоятельный факультет. Крупнейший среди исторических факультетов Восточной Сибири. С 2012 года деканом исторического факультета является Василий Валерьевич Буланков. В настоящее время факультет является мощным научно-образовательным подразделением, не имеющим аналогов в регионе по уровню профессорско-преподавательского состава и глубине научно-исследовательских работ в гуманитарной сфере (археология, история Сибири, Приенисейского края, стран Европы, Америки и Азии, весь комплекс политологических дисциплин, сфера культурного наследия). Факультет сегодня является центром обеспечения Красноярского края учителями истории и обществознания, специалистами в сфере политологии и политической практики, музейного дела, научными сотрудниками.</p>
                            {{!-- <p class="content__text"></p> --}}
                            
                            <ul class="content__list">
                                <li class="content__caption">Направления подготовки, по которым объявлен новый набор-2022:</li>
                                <li class="content__item"><span class="content__text_underline">Бакалавриат (очно):</span> Педагогическое образование (с двумя профилями подготовки), профили: История и иностранный язык (английский язык), История и право, История и обществознание; Политология, профиль Российская политика.</li>
                                <li class="content__item"><span class="content__text_underline">Бакалавриат (заочно):</span> Педагогическое образование, профиль История.</li>
                                <li class="content__item"><span class="content__text_underline">Магистратура (очно):</span> Педагогическое образование, программа Социально-историческое образование в условиях меняющихся профессиональных стандартов. </li>
                                <li class="content__item"><span class="content__text_underline">Магистратура (заочно):</span> Педагогическое образование, программа Политическая история и политическая культура. </li>
                                <li class="content__item"><span class="content__text_underline">Аспирантура (заочно):</span> Исторические науки и археология, программы: Отечественная история, Всеобщая история. Учебный процесс обеспечивают кафедры отечественной истории (зав. кафедрой Ирина Николаевна Ценюга), всеобщей истории (зав. кафедрой Елена Леонидовна Зберовская), политологии и права (зав. кафедрой Марина Викторовна Константинова). На факультете большинство преподавателей имеют ученые степени докторов и кандидатов наук. Преподавательскую деятельность на факультете осуществляют специалисты, известнейшие в своей области не только в России, но и за рубежом.</li>
                                {{!-- <li class="content__item"><span class="content__text_underline"></span></li> --}}
                            </ul>
                            
                            <p class="content__text">Учебный процесс обеспечивают кафедры отечественной истории (зав. кафедрой Ирина Николаевна Ценюга), всеобщей истории (зав. кафедрой Елена Леонидовна Зберовская), политологии и права (зав. кафедрой Марина Викторовна Константинова). На факультете большинство преподавателей имеют ученые степени докторов и кандидатов наук. Преподавательскую деятельность на факультете осуществляют специалисты, известнейшие в своей области не только в России, но и за рубежом</p>
                        </div>
                        <div class="faculty__structure">
                            <h3 class="content__subtitle">Структура факультета</h3>
                            <ul class="faculty__structure__list">
                                <li class="faculty__structure__item">Кафедра отечественной истории</li>
                                <li class="faculty__structure__item">Кафедра отечественной истории</li>
                                <li class="faculty__structure__item">Кафедра политологии и права</li>
                                <li class="faculty__structure__item">Кафедра отечественной истории</li>
                                <li class="faculty__structure__item">МУЗЕЙ АРХЕОЛОГИИ И ЭТНОГРАФИИ КГПУ ИМ. В.П. АСТАФЬЕВА</li>
                            </ul>

                        </div>       
                        <div class="faculty__meetings">
                            <h3 class="content__subtitle">Заседания кафедры</h3>
                            <ul class="faculty__meetings__list">
                                <li class="faculty__meetings__item">
                                    <a class="faculty__meetings__link" href=""><span class="faculty__meetings__date">7 июня 2022</span><span class="faculty__meetings__name">Заседание НМСУ</span><span class="faculty__meetings__address"> (ул. А. Лебедевой, 89, ауд. 4-16, 15:40)</span></a>
                                </li>
                                <li class="faculty__meetings__item">
                                    <a class="faculty__meetings__link" href=""><span class="faculty__meetings__date">7 июня 2022</span><span class="faculty__meetings__name">Заседание НМСУ</span><span class="faculty__meetings__address"> (ул. А. Лебедевой, 89, ауд. 4-16, 15:40)</span></a>
                                </li>
                                <li class="faculty__meetings__item">
                                    <a class="faculty__meetings__link" href=""><span class="faculty__meetings__date">7 июня 2022</span><span class="faculty__meetings__name">Заседание НМСУ</span><span class="faculty__meetings__address"> (ул. А. Лебедевой, 89, ауд. 4-16, 15:40)</span></a>
                                </li>
                                <li class="faculty__meetings__item">
                                    <a class="faculty__meetings__link" href=""><span class="faculty__meetings__date">7 июня 2022</span><span class="faculty__meetings__name">Заседание НМСУ</span><span class="faculty__meetings__address"> (ул. А. Лебедевой, 89, ауд. 4-16, 15:40)</span></a>
                                </li>
                            </ul>
                            <a class="faculty__meetings__all" href="">Все Заседания НМСУ</a>
                        </div>
                    </div>
                    <div class="content__sidebar">
                        <div class="content__sidebar__card ">
                            <p>Адрес: 660077, г.Красноярск, ул.Взлетная,20</p>
                        </div>
                        <div class="content__sidebar__card"></div>
                        <div class="content__sidebar__card"></div>
                        <div class="content__sidebar__card"></div>
                    </div>
                </div>
                <div class="content__wrapper">
                    <div class="faculty__directions">
                        <h3 class="content__subtitle">Направления подготовки</h3>
                    </div>
                </div>
            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}