<div class="select-wrapper">
    <select name="select-filter" class="select">
        <option class="" value="1">Все</option>
        <option class="" value="2">Руководство</option>
        <option class="" value="3">Отдел по работе с персоналом</option>
        <option class="" value="4">Студенческий отдел</option>
        <option class="" value="5">Военно-учетный стол</option>
    </select>
</div>