
<!DOCTYPE html>

{{#> common/body
    title=pages.documents.pageTitle
    class="graduate-page"
}}
    {{> layout/header title='pages.documents_basic.title'}}


    <div class="graduate-page__banner">
        <img class="graduate-page__banner__image" src="/img/content/slide1.png" alt="">
    </div>

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Школьнику и абитуриенту</h1>
                </div>

                <div class="graduate-page__cards grid">
                    <div class="graduate-page__card graduate-page__card_theme_light">
                        <p class="graduate-page__card__text">Абитуриент 2022</p>
                    </div>
                    <div class="graduate-page__card">
                        <img class="graduate-page__card__image" src="/img/content/worker5.png" alt="">
                    </div>
                    <div class="graduate-page__card graduate-page__card_format_high">
                        <img class="graduate-page__card__image" src="/img/content/graduate1.png" alt="">
                    </div>
                    <div class="graduate-page__card">
                        <img class="graduate-page__card__image" src="/img/content/worker1.png" alt="">
                    </div>
                    <div class="graduate-page__card">
                        <img class="graduate-page__card__image" src="/img/content/worker1.png" alt="">
                    </div>
                    <div class="graduate-page__card">
                        <img class="graduate-page__card__image" src="/img/content/worker1.png" alt="">
                    </div>
                    <div class="graduate-page__card graduate-page__card_format_wide  graduate-page__card_theme_dark">
                        <p class="graduate-page__card__text">Название заголовка для банера 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{> layout/footer}}
{{/common/body}}