@use '~/styles/colors';

.graduate-page {
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    $width: 480px;
    $height: 330px;

    background-color: green;
    border-radius: 20px;
    color: colors.$white;
    display: block;
    font-size: 50px;
    font-weight: 500;

    /* width: 33.3%; */
    height: $height;
    line-height: 61px;
    margin-bottom: 37px;
    overflow: hidden;
    padding: 30px 40px;
    text-transform: uppercase;
    width: $width;

    &_format {
      &_wide {
        width: $width * 2 + 32px;
      }

      &_high {
        height: $height * 2 + 37px;
      }
    }

    &_theme {
      &_dark {
        background-color: colors.$blue;
      }

      &_light {
        background-color: colors.$orange;
      }
    }
  }
}
