<footer class="footer">
    <div class="fast-links">
        <div class="container">
            <div class="fast-links__title _toggle">
                <span>Быстрые ссылки</span>
            </div>
            <ul class="fast-links__list">
                <li class="fast-links__item">
                    <a href="" class="link fast-links__more">Примерные ООП</a>
                </li>
                <li class="fast-links__item">
                    <a href="" class="link fast-links__more">Каталог образовательных программ</a>
                </li>
                <li class="fast-links__item">
                    <a href="" class="link fast-links__more">fff</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__wrapper container">
        <div class="footer__top">
            <div class="footer__cols">
                <div class="footer__col">
                    <a class="logo" href="/">
                        <img src="/img/logo.svg" alt="logo">
                    </a>
                    <p class="footer__discription">Федеральное государственное бюджетное образовательное учреждение высшего образования «Красноярский государственный педагогический университет им. В. П. Астафьева»</p>
                </div>
                <div class="footer__col">
                    <ul class="footer__nav nav">
                        <li class="nav__item">
                            <a href="" class="link">Об университете</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="link">Поступление</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="link">Карьера</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="link">Вакансии</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="link">Телефонный справочник</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="link">Расписание занятий</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <a href="" class="other-link">Сведения об образовательной организации</a>
                    <a href="" class="other-link">Политика в отношении обработки персональных данных</a>
                </div>
                <div class="footer__col">
                    <div class="logo-ministry">
                        <img src="/img/logo-ministry.svg" alt="ministry">
                    </div>
                    <p class="footer__caption">Текст подписи</p>
                </div>

            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__cols">
                <div class="footer__col footer__address">
                    660049, Красноярский край, город Красноярск, ул. Ады Лебедевой, дом 89
                </div>
                <div class="footer__col footer__phone">
                    <p>телефон-факс: <a href="tel:+73912171717">(391) 217–17–17</a></p>
                    <p>приемная комиссия: <a href="tel:+73912171711">(391) 217–17–11</a></p>
                </div>
                <div class="footer__col footer__email">
                    e-mail: <a href="mailto:kspu@kspu.ru">kspu@kspu.ru</a>
                </div>
                <div class="footer__col footer__social-list">
                    <a href="" class="footer__social-item"><img src="/img/icon-telegram.svg" alt="telegram"></a>
                    <a href="" class="footer__social-item"><img src="/img/icon-vk.svg" alt="vk"></a>
                </div>
            </div>

        </div>
    </div>
</footer>
