@use '~/styles/colors';

.header {
  color: inherit;

  &__top {
    background-color: colors.$light-grey;
    padding: 20px 0 26px;

    .container {
      display: flex;
    }

    .left {
      display: flex;
      justify-content: space-between;
      width: 40%;

      .logo {
        display: block;
        width: 50%;

        & + .logo {
          margin-left: 56px;
        }

        img {
          display: block;
          fill: #076b8f;
          width: 100%;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 60%;

      .top {
        display: flex;
        justify-content: end;
        padding-bottom: 30px;
        width: 100%;
      }

      .search {
        margin-right: 32px;

        // vertical-align: middle;
        // white-space: nowrap;
        position: relative;
        width: 280px;

        #search {
          background: transparent;
          border: 2px solid colors.$blue;
          border-radius: 5px;
          color: colors.$blue;
          float: left;
          font-size: 10pt;
          height: 38px;
          outline: none;
          padding: 0 34px 0 12px;
          width: 280px;
        }

        .icon-search {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          z-index: -1;
        }
      }

      .language {
        cursor: pointer;
        margin-right: 16px;
      }

      .availability {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }

    .nav-upper {
      .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        // &__item {}

        &__link {
          border-bottom: 2px solid transparent;
          color: colors.$blue;
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          text-transform: uppercase;
          transition: border 0.3s ease;

          &:hover,
          &:focus {
            border-bottom-color: colors.$orange;
          }
        }
      }
    }
  }

  .nav-main {
    background-color: colors.$blue;

    .nav {
      display: flex;
      justify-content: space-between;

      &__link {
        background-color: transparent;
        color: colors.$white;
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        padding: 18px 12px;
        position: relative;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
          background-color: colors.$light-grey;
          color: colors.$blue;
        }

        &_more {
          padding: 18px 42px 18px 12px;

          &::after {
            border: 5px solid transparent;
            border-top: 5px solid colors.$white;
            content: '';
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            transition: border 0.3s ease;
          }

          &:hover,
          &:focus {
            &::after {
              border-top-color: colors.$blue;
            }

            + .nav__sub {
              display: block;
            }
          }
        }
      }

      &__sub {
        background-color: colors.$light-grey;
        display: none;
        padding: 10px 0 18px;
        position: absolute;

        &__link {
          background-color: transparent;
          color: colors.$blue;
          display: block;
          font-size: 16px;
          line-height: 20px;
          padding: 10px 22px;
          transition: all 0.3s ease;

          &:hover,
          &:focus {
            background-color: colors.$blue;
            color: colors.$white;
          }
        }
      }
    }
  }
}
