<!DOCTYPE html>

{{#> common/body
    title=pages.index.pageTitle
    class="main-page"
}}
    {{> layout/header title='pages.index.title'}}

    <main class="main">
        <section class="slider"></section>

        <section class="news">
            <div class="container">
                <div class="news__wrapper">
                    <h1 class="title">Новости</h1>
                    <a href="">Все новости</a>
                </div>
                <div class="news__cards cards">
                    <div class="cards-big">
                        <div class="cards__item cards-big__item">
                            <img src="/img/content/news1.png" alt="news">
                            <p class="description">Осенью в КГПУ откроется педагогический технопарк «Кванториум» им. Л. В. Киренского</p>
                        </div>
                        <div class="cards__item cards-big__item">
                            <img src="/img/content/news1.png" alt="news">
                            <p class="description">Осенью в КГПУ откроется педагогический технопарк «Кванториум» им. Л. В. Киренского</p>
                        </div>
                        <div class="cards__item cards-big__item">
                            <img src="/img/content/news1.png" alt="news">
                            <p class="description">Осенью в КГПУ откроется педагогический технопарк «Кванториум» им. Л. В. Киренского</p>
                        </div>
                        <div class="cards__item cards-big__item">
                            <img src="/img/content/news1.png" alt="news">
                            <p class="description">Осенью в КГПУ откроется педагогический технопарк «Кванториум» им. Л. В. Киренского</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="developments">
            <div class="container"></div>
        </section>

        <section class="developments">
            <div class="container"></div>
        </section>

        <section class="information">
            <div class="container"></div>
        </section>

        <section class="developments">
            <div class="container"></div>
        </section>

        <section class="info">
            <div class="container"></div>
        </section>
    </main>

    {{> layout/footer}}
{{/common/body}}