<!DOCTYPE html>

{{#> common/body
    title=pages.index.pageTitle
    class="main-page"
}}
    {{> layout/header title='pages.index.title'}}

    <main class="main">
        <section class="slider">
            {{!-- <div class="your-class">
                <div>your content</div>
                <div>your content</div>
                <div>your content</div>
            </div> --}}
        </section>


        <section class="news section">
            <div class="container">
                <div class="news__header section__header">
                    <h1 class="news__title section__title">Новости</h1>
                    <a class="section__link" href="">Все новости</a>
                </div>

                <div class="news__list">
                    {{#each pages.index.news}}
                        <div class="news__list__item">
                            {{> news/card item=this }}
                        </div>
                    {{/each}}
                </div>

                <div class="news__list">
                    {{#each pages.index.news}}
                        <div class="news__list__item">
                            {{> news/card item=this isSmall=true }}
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <section class="developments">
            <div class="container"></div>
        </section>

        <section class="developments">
            <div class="container"></div>
        </section>

        <section class="information">
            <div class="container"></div>
        </section>

        <section class="developments">
            <div class="container"></div>
        </section>

        <section class="info">
            <div class="container"></div>
        </section>
    </main>

    {{> layout/footer}}
{{/common/body}}