.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  &-prev {
    left: -17px;
  }

  &-next {
    right: -17px;
  }
}

.navigation-wrapper {
  position: relative;
}
