<div class="navigation">
    <button class="navigation__arrow navigation__arrow-prev button button_more button_more_left button_round" data-glide-dir="<"></button>
    <button class="navigation__arrow navigation__arrow-next button button_more button_more_right button_round" data-glide-dir="<"></button>
</div>