<div class="navigation">
    <button class="navigation__arrow button button_more button_more_left button_round" data-glide-dir="<"></button>
    <button class="navigation__arrow button button_more button_more_right button_round" data-glide-dir="<"></button>
</div>