@use '~/styles/colors';

.developments {
  background-color: colors.$white;
  overflow-x: hidden;
  padding: 65px 0;

  @media (max-width: 480px) {
    padding: 40px 0 55px;
  }

  &__list {
    &__item {
      padding: 0 32px;
    }
  }

  &__title {
    width: calc(100% - 114px);
  }

  .glide__arrows {
    width: 114px;

    @media (max-width: 480px) {
      width: 70px;
    }
  }

  .glide__track {
    margin: 0 -32px;
  }

  &__slide {
    &__date {
      color: colors.$blue;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 10px;
      padding-left: 26px;
      position: relative;
      text-transform: uppercase;

      @media (max-width: 480px) {
        font-size: 14px;
        line-height: 1.2;
      }

      &::before {
        background-image: url('../img/icon-calendar.svg');
        background-size: contain;
        content: '';
        height: 15px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
      }
    }

    &__title {
      color: colors.$text-secondary;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      transition: all 0.3s ease;

      @media (max-width: 480px) {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    &:hover,
    &:focus {
      .developments__slide__title {
        color: colors.$blue;
        text-decoration: underline;
      }
    }
  }
}
