<!DOCTYPE html>

<h1>Список всех страниц</h1>

<ul>
    <li><a class="hightlight" href="/">Главная</a></li>
    <li><a class="" href="">Школьнику и абитуриенту</a></li>
    <li><a class="hightlight" href="/faculty.html">!!! Факультет</a></li>
    <li><a class="" href="">!!! Остальные подразделения</a></li>
    <li><a class="hightlight" href="/worker.html">Работник-деталка</a></li>
    <li><a class="" href="">Телефонный справочник</a></li>
    <li><a class="hightlight" href="/news_detail.html">Новость-деталка</a></li>
    <li><a class="hightlight" href="/news.html">Список новостей</a></li>
    <li><a class="hightlight" href="/events.html">Календарь событий</a></li>
    <li><a class="hightlight" href="/meetings.html">Заседания</a></li>
    <li><a class="hightlight" href="/documents.html">Документы</a></li>
    <li><a class="hightlight" href="/documents_basic.html">Основополагающие документы</a></li>
    <li><a class="" href="/workers.html">Работники</a></li>
    <li><a class="hightlight" href="/structure.html">Структура</a></li>
    <li><a class="" href="">Подразделения по типам</a></li>
    <li><a class="hightlight" href="/professors.html">Профессора университета</a></li>
    <li><a class="" href="/map.html">Карта сайта</a></li>
    <li><a class="" href="/search.html">Поиск</a></li>
</ul>
<style>
    .hightlight {
        background-color: greenyellow;
    }
</style>