<!DOCTYPE html>

<h1>Список всех страниц</h1>

<ul class="all__list">
    <li><a href="index.html">Главная</a></li>
    <li><a href="graduate.html">Школьнику и абитуриенту</a></li>
    <li><a href="faculty.html">Факультет</a></li>
    <li><a href="divisions.html">Остальные подразделения</a></li>
    <li><a href="divisions_list.html">Подразделения по типам</a></li>
    <li><a href="professors.html">Профессора университета</a></li>
    <li><a href="workers.html">Работники</a></li>
    <li><a href="worker.html">Работник-деталка</a></li>
    <li><a href="news_list.html">Список новостей</a></li>
    <li><a href="news_detail.html">Новость-деталка</a></li>
    <li><a href="events.html">Календарь событий</a></li>
    <li><a href="meetings.html">Заседания</a></li>
    <li><a href="documents.html">Документы - Личный кабинет (клик по документу)</a></li>
    <li><a href="documents_basic.html">Основополагающие документы</a></li>
    <li><a href="phonebook.html">Телефонный справочник</a></li>
    <li><a href="structure.html">Структура</a></li>
    <li><a href="sitemap.html">Карта сайта</a></li>
    <li><a href="search.html">Поиск</a></li>
</ul>
<style>
    .all__list a {
        font-size: 30px;
    }

    .hightlight {
        background-color: greenyellow;
    }
    .bugs {
        background-color: yellow;
    }
</style>