@use '~/styles/colors';

.documents_basic-page {
  .filter {
    &__block {
      .search-solo {
        display: block;
        margin-bottom: 45px;

        @media (max-width: 767px) {
          margin-bottom: 8px;
        }
      }

      .search__input {
        border: 1px solid colors.$light-blue;
        width: 100%;

        &::placeholder {
          color: colors.$text-main;
        }
      }

      .search__btn img {
        opacity: 0.6;
      }
    }

    &__btn {
      background-color: colors.$white;
      border: 1px solid colors.$light-blue;
      border-radius: 5px;
      color: colors.$text-main;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      height: 44px;
      padding: 0 28px 0 12px;
      position: relative;
      text-align: left;
      transition: all 0.3s ease;
      width: 100%;

      @media (min-width: 767px) {
        display: none;
      }

      &:hover {
        background-color: colors.$light-blue;
        color: colors.$white;
      }

      &::after {
        background-image: url('../img/icon-filter.svg');
        content: '';
        height: 15px;
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
      }
    }

    &__list {
      @media (min-width: 767px) {
        max-height: 100%;
      }
    }

    &__item {
      & + .filter__item {
        margin-top: 36px;
      }

      &._toggle_active > ._toggle__container {
        margin-top: 20px;
      }
    }

    &__item,
    &__subitem {
      color: colors.$text-main;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }

    &__title {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      width: 100%;
    }

    &__name {
      // line-height: 38px;
      font-size: 16px;
      line-height: 1.5;
    }

    // &__sublist {}

    &__subitem {
      & + .filter__subitem {
        margin-top: 12px;
      }

      &.active {
        background-color: colors.$orange;
        border-radius: 5px;
        color: colors.$white;
        cursor: pointer;
        padding: 6px 40px;

        .filter__subname {
          color: colors.$white;
          padding-right: 28px;
          position: relative;
          width: fit-content;

          &::after {
            background-image: url('../img/icon-close_w.svg');
            content: '';
            height: 10px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
          }
        }
      }
    }

    &__subname {
      color: colors.$text-secondary;
    }

    &__subamount {
      padding-left: 6px;
    }
  }
}
