<!DOCTYPE html>

{{#> common/body
    title=pages.documents_basic.pageTitle
    class="documents_basic-page"
}}
    {{> layout/header title='pages.documents_basic.title'}}

    <main class="wrapper">

        <div class="container">
            {{> common/breadcrumbs}}
            {{> popup/index}}

            <div class="content"> 
                <div class="content__header">
                    <h1 class="content__title_main">Основополагающие документы</h1>
                </div>

                <div class="content__wrapper">

                    {{> common/tags}}

                    <div class="notice">
                        <p class="notice__title">Памятка</p>
                        <p class="notice__text">Для удобства поиска документов предусмотрены следующие возможности:</p>
                        <ul class="notice__list">
                            <li class="notice__item">в строке «Поиск» ввести ключевые слова;</li>
                            <li class="notice__item">использовать фильтры по следующим категориям: (целевая аудитория; тип документа; сфера деятельности; принявший орган власти).</li>
                        </ul>
                        <p class="notice__text">О применении фильтра сигнализирует выделенный элемент в списке и вверху у фильтра появляется оражевый элемент с выбранным наименованием.<br>Чтобы снять фильтр, можно нажать на крестик или на «Очистить все»
                        </p>
                    </div>

                    <div class="content__main">
                        <div class="documents__block">
                            <ul class="content__list">
                                <li class="content__item content__item_calendar  _open-popup">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 12 августа 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_locked"></span>
                                            <span class="documents__image documents__image_pdf"></span>
                                        </div>
                                        <span class="documents__name">Заседание НМСУ</span>
                                    </a>
                                </li>
                                <li class="content__item content__item_calendar">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 1 мая 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_doc"></span>
                                        </div>
                                        <span class="documents__name">Конкурсный отбор на должности профессорско-преподавательского состава в КГПУ им. В.П. Астафьева</span>
                                    </a>
                                </li>
                                <li class="content__item content__item_calendar">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 12 августа 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_pdf"></span>
                                        </div>
                                        <span class="documents__name">Заседание НМСУ</span>
                                    </a>
                                </li>
                                <li class="content__item content__item_calendar  _open-popup">
                                    <a class="documents__link link_arrow" href="">
                                        <span class="documents__date">до 12 августа 2022</span>
                                        <div class="documents__images-block">
                                            <span class="documents__image documents__image_locked"></span>
                                            <span class="documents__image documents__image_jpg"></span>
                                        </div>
                                        <span class="documents__name">Конкурсный отбор на должности профессорско-преподавательского состава в КГПУ им. В.П. Астафьева</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{!-- {{> common/pagination}} --}}
                    </div>

                    <div class="content__sidebar">
                        <div class="filter__block content__sidebar__card _toggle">
                            
                            {{> search/index}}

                            <button class="filter__btn _toggle__button">Фильтры</button>

                            <ul class="filter__list _toggle__container">
                                <li class="filter__item _toggle">
                                    <div class="filter__title  _toggle__button">
                                        <p class="filter__name">По названию</p>
                                        <button class="button button_more button_round"></button>
                                    </div>
                                    <ul class="filter__sublist _toggle__container">
                                        <li class="filter__subitem">
                                            <p class="filter__subname">name<span class="filter__subamount">(11452)</span></p>
                                        </li>
                                        <li class="filter__subitem active">
                                            <p class="filter__subname">name<span class="filter__subamount">(56)</span></p>
                                        </li>
                                        <li class="filter__subitem">
                                            <p class="filter__subname">name<span class="filter__subamount">(21)</span></p>
                                        </li>
                                    </ul>
                                </li>
                                <li class="filter__item _toggle">
                                    <div class="filter__title _toggle__button">
                                        <p class="filter__name">По типу</p>
                                        <button class="button button_more button_round"></button>
                                    </div>
                                    <ul class="filter__sublist _toggle__container">
                                        <li class="filter__subitem">Приказ<span class="filter__subamount">(17)</span></li>
                                        <li class="filter__subitem">Письмо<span class="filter__subamount">(0)</span></li>
                                        <li class="filter__subitem">Распоряжение<span class="filter__subamount">(227)</span></li>
                                    </ul>
                                </li>
                                <li class="filter__item _toggle">
                                    <div class="filter__title _toggle__button">
                                        <p class="filter__name">По типу</p>
                                        <button class="button button_more button_round"></button>
                                    </div>
                                    <ul class="filter__sublist _toggle__container">
                                        <li class="filter__subitem">Приказ<span class="filter__subamount">(17)</span></li>
                                        <li class="filter__subitem">Письмо<span class="filter__subamount">(0)</span></li>
                                        <li class="filter__subitem">Распоряжение<span class="filter__subamount">(227)</span></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>


        </div>


    </main>

    {{> layout/footer}}
{{/common/body}}