<div class="search-solo">
    <form action="search.html" class="search">
        <input type="text" id="search" name="search" placeholder="Поиск по справочнику">
        <button class="search__btn" type="submit">
            <img class="icon-search" src="img/icon-search.svg" alt="search">
        </button>
    </form>
</div>