<div class="pagination">
    <button class="button button_more button_more_left"></button>
    <a class="pagination__page pagination__page_active" href="#">1</a>
    <a class="pagination__page" href="#">2</a>
    <a class="pagination__page" href="#">3</a>
    <a class="pagination__page" href="#">...</a>
    <a class="pagination__page" href="#">10</a>
    <button class="button button_more button_more_right"></button>
</div>