<div class="tag__block">
    <ul class="tag__list">
        <li class="tag__item">
            <a class="tag__link link_arrow" href="">Основополагающие документы <span class="tag__amount">(28)</span></a>
        </li>
        <li class="tag__item">
            <a class="tag__link link_arrow" href="">Актуальные документы <span class="tag__amount">(3)</span></a>
        </li>
        <li class="tag__item">
            <a class="tag__link link_arrow" href="">Локальные нормативные акты</a>
        </li>
        <li class="tag__item">
            <a class="tag__link link_arrow" href="">Актуальные документы <span class="tag__amount">(193)</span></a>
        </li>
    </ul>
</div>