<div class="phonebook__item__table-mobile">
    
    <table class="phonebook__table phonebook__table_mobile">
        <tbody>
            <tr class="phonebook__table__header">
                <td>ФИО</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>Холина Мария Валерьевна</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Должность</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>Исполняющий обязанности ректора</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Городской телефон</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>217-17-77</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Внутренний КГПУ</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>1777</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Аудитория</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>1-255</td>
            </tr>
        </tbody>
    </table>

     <table class="phonebook__table phonebook__table_mobile">
        <tbody>
            <tr class="phonebook__table__header">
                <td>ФИО</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>Фамилия 2</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Должность</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>Исполняющий обязанности ректора</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Городской телефон</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>217-17-77</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Внутренний КГПУ</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>1777</td>
            </tr>
            <tr class="phonebook__table__header">
                <td>Аудитория</td>
            </tr>
            <tr class="phonebook__table__body">
                <td>1-255</td>
            </tr>
        </tbody>
    </table>
    
</div>
