<div class="phonebook__item__table-desctop">
    <table class="phonebook__table phonebook__table_desctop">
        <thead class="phonebook__table__header">
            <tr>
                <td>ФИО</td>
                <td>Должность</td>
                <td>Городской телефон</td>
                <td>Внутренний КГПУ</td>
                <td>Аудитория</td>
            </tr>
        </thead>
        <tbody class="phonebook__table__body">
            <tr>
                <td>Холина Мария Валерьевна</td>
                <td>Исполняющий обязанности ректора</td>
                <td>217-17-77</td>
                <td>1777</td>
                <td>1-255</td>
            </tr>
            <tr>
                <td>Холина Мария Валерьевна</td>
                <td>Проректор по научной работе и внешнему взаимодействию</td>
                <td>217-17-77</td>
                <td>1777</td>
                <td>1-255</td>
            </tr>
            <tr>
                <td>Холина Мария Валерьевна</td>
                <td>Проректор по научной работе и внешнему взаимодействию</td>
                <td>217-17-77</td>
                <td>1777</td>
                <td>1-255</td>
            </tr>
            <tr>
                <td>Ермолаева Елена Олеговна</td>
                <td>Приемная проректора по образовательной деятельности</td>
                <td>217-17-77</td>
                <td>1723</td>
                <td>3-101</td>
            </tr>
            <tr>
                <td>Холина Мария Валерьевна</td>
                <td>Приемная проректора по образовательной деятельности</td>
                <td>217-17-77</td>
                <td>1777</td>
                <td>2-004</td>
            </tr>
            <tr>
                <td>Ахметгалиев Дамир Энварович</td>
                <td>Исполняющий обязанности ректора</td>
                <td>280-22-89</td>
                <td>1709</td>
                <td>1-255</td>
            </tr>
        </tbody>
    </table>
</div>