@use '~/styles/colors';

.news {
  &.section {
    padding: 32px 0 56px;
  }

  &__rss {
    background-color: colors.$grey;
    border: none;
    border-radius: 10px;
    color: colors.$text-main;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    padding: 0 12px 0 47px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      background-color: colors.$orange;
      color: colors.$white;
    }

    &::before {
      background-image: url('/img/icon-rss.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 27px;
      left: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 27px;
    }
  }

  &__list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    &__item {
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      flex-shrink: 0;
      margin-bottom: 56px;
      max-width: (100% / 3);
      padding: 0 16px;
    }
  }

  &__card {
    $this: &;

    display: block;
    flex-grow: 1;
    position: relative;
    width: 100%;

    &:hover {
      #{$this} {
        &__description {
          text-decoration: underline;
        }
      }
    }

    &_dark {
      .news__card__image {
        background-color: colors.$blue;
      }
    }

    &_light {
      .news__card__image {
        background-color: colors.$orange;
      }
    }

    &__description {
      color: colors.$text-secondary;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      transition: all 0.3s ease;
    }

    &__image {
      background-color: #ddd;
      border-bottom: 8px solid colors.$orange;
      border-radius: 10px;
      margin-bottom: 28px;
      overflow: hidden;
      padding-top: (327% / 480 * 100);
      position: relative;

      &__img {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &__title {
      color: colors.$white;
      font-size: 50px;
      font-weight: 500;
      height: auto;
      line-height: 61px;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-60%);
      width: 100%;
    }

    &_small {
      border: 1px solid colors.$orange;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 34px 25px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #eaeaea;
        border-color: #eaeaea;

        #{$this} {
          &__description {
            color: colors.$blue;
          }
        }
      }
    }
  }
}
