@use '~/styles/colors';

.news {
  &.section {
    padding: 32px 0 56px;

    @media (max-width: 480px) {
      padding-bottom: 0;
    }
  }

  &__header {
    flex-wrap: nowrap;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      margin-bottom: 50px;
    }
  }

  &__title {
    max-width: 90%;
    padding-right: 10px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
      max-width: 100%;
      padding-right: 0;
    }
  }

  &__rss {
    background-color: colors.$grey;
    border: none;
    border-radius: 10px;
    color: colors.$text-main;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    padding: 0 12px 0 47px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      background-color: colors.$orange;
      color: colors.$white;
    }

    &::before {
      background-image: url('../img/icon-rss.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 27px;
      left: 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 27px;
    }
  }

  &__list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    position: relative;

    &__item {
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      flex-shrink: 0;
      margin-bottom: 56px;
      max-width: (100% / 3);
      padding: 0 16px;
    }
  }

  &__card {
    $this: &;

    display: block;
    flex-grow: 1;
    position: relative;
    width: 100%;

    &:hover {
      #{$this} {
        &__description {
          text-decoration: underline;
        }
      }
    }

    &_theme {
      &_dark {
        .news__card__image {
          background-color: colors.$blue;
        }
      }

      &_light {
        .news__card__image {
          background-color: colors.$orange;
        }
      }

      &_dark,
      &_light {
        .news__card__image {
          border-bottom: none;
        }
      }
    }

    &__description {
      color: colors.$text-secondary;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      transition: all 0.3s ease;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    &__image {
      background-color: #ddd;
      border-bottom: 8px solid colors.$orange;
      border-radius: 10px;
      margin-bottom: 28px;
      overflow: hidden;
      padding-top: (327% / 480 * 100);
      position: relative;

      &__img {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &__title {
      color: colors.$white;
      font-size: 50px;
      font-weight: 500;
      height: auto;
      line-height: 61px;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    &_small {
      border: 1px solid colors.$orange;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 34px 25px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #eaeaea;
        border-color: #eaeaea;

        #{$this} {
          &__description {
            color: colors.$blue;
          }
        }
      }
    }
  }

  .navigation {
    @media (min-width: 992px) {
      display: none;
    }
  }
}

.main-page {
  .news__header {
    @media (max-width: 767px) {
      margin-bottom: 42px;
    }
  }

  .news__list {
    @media (max-width: 991px) {
      flex-wrap: nowrap;
      margin: 0 0 60px;
      overflow-x: scroll;
      padding: 0;

      &::-webkit-scrollbar {
        appearance: none;
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: colors.$orange;
        border-radius: 30px;
        box-shadow: none;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: rgb(82 85 86 / 0.2);
        border-radius: 30px;
      }
    }

    @media (max-width: 480px) {
      margin-bottom: 32px;
    }
  }

  .news__list__item {
    @media (max-width: 991px) {
      margin-bottom: 32px;
      max-width: 100%;
      padding: 0 8px;
      width: 100%;
    }

    @media (max-width: 480px) {
      margin-bottom: 10px;
    }
  }

  // .news__card {
  //   padding: 0 16px;
  // }

  .news__card__title {
    padding: 104px 54px;

    @media (max-width: 1600px) {
      font-size: 36px;
      line-height: 44px;
      padding: 50px;
    }

    @media (max-width: 1440px) {
      font-size: 30px;
      line-height: 1.3;
      padding: 30px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      text-align: center;
    }
  }

  .news__card__description {
    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  .news__card__image {
    @media (max-width: 480px) {
      margin-bottom: 22px;
    }
  }
}

.news_list-page {
  .news__list {
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    &__item {
      @media (max-width: 991px) {
        margin-bottom: 50px;
        max-width: 50%;
      }

      @media (max-width: 767px) {
        margin-bottom: 26px;
        max-width: 100%;
      }
    }
  }

  .news__card__title {
    padding: 104px 54px;

    @media (max-width: 1600px) {
      font-size: 36px;
      line-height: 44px;
      padding: 50px;
    }

    @media (max-width: 1440px) {
      font-size: 30px;
      line-height: 1.3;
      padding: 25px;
    }

    @media (max-width: 767px) {
      font-size: 34px;
      line-height: 1.2;
    }

    @media (max-width: 600px) {
      text-align: center;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }
}
