@use '~/styles/colors';
@import '~/styles/fonts';

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: colors.$light-grey;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: colors.$text-main;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  line-height: 29px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 50px;
  width: 100%;
}

.section {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__link {
    color: colors.$orange;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;

  &_more {
    position: relative;

    &::after {
      background-image: url('/img/icon-arrow.svg');
      background-size: contain;
      content: '';
      display: block;
      height: 7px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
    }

    &_left {
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &_right {
      &::after {
        transform: translate(-50%, -50%) rotate(270deg);
      }
    }
  }

  &_round {
    background-color: colors.$beige;
    border-radius: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.wrapper {
  padding: 22px 0 142px;

  &__header {
    margin-bottom: 40px;
  }
}

.content {
  padding-top: 42px;

  &__header {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
  }

  &__main {
    padding-right: 32px;
    width: calc(100% - 480px);
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
    text-transform: uppercase;

    // line-height: 29px;
  }

  &__sidebar {
    width: 480px;

    &__card {
      background-color: colors.$white;
      border-radius: 5px;
      padding: 32px 44px;

      + .content__sidebar__card {
        margin-top: 16px;
      }
    }
  }

  &__text,
  &__list {
    margin-bottom: 20px;
  }

  &__text,
  &__item,
  &__caption {
    // color: #0c4458;
    color: colors.$text-main;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    &_underline {
      text-decoration: underline;
    }
  }

  &__list {
    list-style-type: disc;
  }

  &__item {
    margin-left: 20px;
  }

  &__caption {
    list-style-type: none;
  }
}

.breadcrumbs {
  // &__list {}

  &__item {
    color: colors.$text-secondary;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    position: relative;

    + .breadcrumbs__item {
      padding-left: 12px;

      &::before {
        background-image: url('/img/icon-arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 4px;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(270deg);
        width: 7px;
      }
    }

    &__link {
      color: colors.$text-headline;
      transition: color 0.3s ease;
    }

    &:hover {
      .breadcrumbs__item__link {
        color: colors.$text-secondary;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__page {
    background-color: transparent;
    border-radius: 5px;
    color: colors.$text-secondary;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 0.05em;
    line-height: 50px;
    margin: 0 5px;
    text-align: center;
    transition: all 0.3s ease;
    width: 50px;

    &:hover,
    &:focus {
      background-color: colors.$blue;
      color: colors.$white;
    }

    &_active,
    &_active:hover,
    &_active:focus {
      background-color: colors.$orange;
      color: colors.$white;
    }
  }
}
