@use '~/styles/colors';
@import '~/styles/fonts';

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-color: colors.$orange colors.$grey;
  scrollbar-width: thin;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: colors.$light-grey;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 360px;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: colors.$text-main;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 28px;
    line-height: 1.2;
  }

  @media (max-width: 767px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

h2 {
  font-size: 28px;
  line-height: 34px;

  @media (max-width: 991px) {
    font-size: 26px;
    line-height: 1.2;
  }

  @media (max-width: 767px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  line-height: 29px;

  @media (max-width: 991px) {
    font-size: 20px;
    line-height: 1.2;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

h4,
h5 {
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 1.2;
  }
}

p {
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 50px;
  width: 100%;

  @media (max-width: 1600px) {
    max-width: 1440px;
    padding: 0 20px;
  }

  @media (max-width: 480px) {
    padding: 0 16px;
  }
}

.section {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    max-width: 90%;
  }

  &__link {
    color: colors.$orange;
    text-decoration: underline;
    white-space: nowrap;

    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 1.2;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;

  @media (max-width: 480px) {
    height: 28px;
    width: 28px;
  }

  &_more {
    position: relative;

    &::after {
      background-image: url('../img/icon-arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 7px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;

      @media (max-width: 480px) {
        height: 4px;
        width: 7px;
      }
    }

    &_left {
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &_right {
      &::after {
        transform: translate(-50%, -50%) rotate(270deg);
      }
    }
  }

  &_round {
    background-color: colors.$beige;
    border-radius: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.wrapper {
  flex-grow: 1;
  padding: 22px 0 100px;

  &__header {
    margin-bottom: 40px;
  }
}

.content {
  padding-top: 42px;

  @media (max-width: 767px) {
    padding-top: 22px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      margin-bottom: 10px;

      .content__title_main {
        margin-bottom: 30px;
      }

      .dropdown {
        width: 100%;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__main {
    padding-right: 32px;
    width: calc(100% - 480px);

    @media (max-width: 991px) {
      order: 2;
      padding-right: 0;
      width: 100%;
    }

    &_big {
      padding-left: 80px;
      width: calc(100% - 305px);

      @media (max-width: 991px) {
        padding-left: 0;
        width: 100%;
      }

      .content__main__card {
        background-color: colors.$white;
        border-radius: 5px;
        padding: 32px 40px;

        + .content__main__card {
          margin-top: 16px;
        }
      }
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 600;

    // line-height: 29px;
    margin: 42px 0 20px;
    text-transform: uppercase;

    @media (max-width: 991px) {
      margin: 20px 0 40px;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  &__title {
    &_h2,
    &_h3,
    &_h4,
    &_h5 {
      color: #0c4458;
      display: block;
      margin: 42px 0 20px;
      width: 100%;
    }
  }

  &__sidebar {
    padding-bottom: 42px;
    width: 480px;

    @media (max-width: 991px) {
      width: 100%;
    }

    &__card {
      background-color: colors.$white;
      border-radius: 5px;
      padding: 32px 40px;

      @media (max-width: 480px) {
        padding: 32px 30px;
      }

      + .content__sidebar__card {
        margin-top: 16px;
      }
    }

    &__block {
      & + .content__sidebar__block {
        margin-top: 20px;
      }

      &_main {
        border-bottom: 1px solid colors.$light-blue;
        padding-bottom: 8px;
      }
    }

    &__caption {
      color: colors.$light-blue;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    &__name {
      color: colors.$text-main;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 14px;
    }

    &__post {
      color: colors.$text-main;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 30px;
    }

    &__phone,
    &__email,
    &__site {
      color: colors.$text-main;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 16px;

      &:hover {
        color: colors.$blue;
      }
    }

    &__link {
      color: colors.$text-main;
      display: inline-block;
      font-weight: 500;
      text-transform: uppercase;

      @media (max-width: 991px) {
        display: inline-block;
        margin-right: 20px;
      }

      @media (max-width: 480px) {
        margin-right: 0;
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
      }

      & + .content__sidebar__link {
        margin-top: 20px;
      }
    }

    &_small {
      width: 305px;

      @media (max-width: 991px) {
        width: 100%;
      }

      &__image {
        border-radius: 0 0 150px 150px;
        display: block;
        width: 100%;

        @media (max-width: 991px) {
          margin: 0 auto 32px;
          max-width: 400px;
        }
      }
    }
  }

  &__text,
  &__list {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-bottom: 16px;
    }

    @media (max-width: 480px) {
      margin-bottom: 14px;
    }
  }

  // p,
  // li,
  &__text,
  &__item,
  &__caption {
    // color: colors.$text-main;
    color: #0c4458;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }

    &_underline {
      text-decoration: underline;
    }
  }

  &__list {
    list-style-type: disc;

    &_decorated {
      list-style-type: none;

      .content__item {
        border-left: 4px solid colors.$orange;
        padding-left: 18px;
      }
    }
  }

  &__item {
    color: #0c4458;
    margin-bottom: 16px;
    margin-left: 20px;

    @media (max-width: 480px) {
      margin-bottom: 14px;
    }

    &_calendar {
      list-style-type: none;
      margin-left: 0;
    }
  }

  &__caption {
    list-style-type: none;
  }

  &__quote,
  blockquote {
    background: colors.$white;
    border-radius: 10px;
    box-shadow: 0 13px 45px rgba(0, 0, 0, 0.05);
    color: #0c4458;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 42px;
    padding: 90px 50px 52px;
    position: relative;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }

    &::before {
      background-image: url('../img/icon-quotes.svg');
      background-repeat: no-repeat;
      content: '';
      height: 30px;
      left: 50px;
      position: absolute;
      top: 36px;
      width: 37px;
    }

    &__signature {
      font-size: 18px;
      font-style: italic;
      font-weight: 300;
      line-height: 1.4;
      margin-top: 30px;
      padding-left: 145px;
      position: relative;

      @media (max-width: 767px) {
        padding-left: 65px;
      }

      &::before {
        background-color: colors.$blue;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 130px;

        @media (max-width: 767px) {
          width: 42px;
        }
      }
    }
  }

  &__image {
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  &__images-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 20px;

    .content__image {
      height: auto;
      margin-bottom: 20px;
      object-fit: contain;
      padding: 0 15px;
      width: 50%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }

  &__link {
    color: #5a83ec;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }

    &.link_arrow {
      &::after {
        background-image: url('../img/icon-arrow_big_p.svg') !important;
        height: 14px !important;
        transform: translateY(-50%) !important;
        width: 14px !important;
      }
    }

    &_single {
      display: inline-block;
      margin-bottom: 20px;
      max-width: 600px;
      width: 100%;

      &.link_arrow {
        &::after {
          top: 0 !important;
          transform: none !important;
        }
      }
    }
  }

  .link_arrow {
    padding-right: 30px;
    position: relative;

    &::after {
      background-image: url('../img/icon-arrow_big.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 12px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(320deg);
      width: 16px;
    }
  }

  .link_phone,
  .link_email,
  .link_address,
  .link_time,
  .link_site {
    display: block;
    padding-left: 28px;
    position: relative;

    &::before {
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .link_phone {
    &::before {
      background-image: url('../img/icon-phone.svg');
      height: 16px;
      width: 15px;
    }
  }

  .link_email {
    &::before {
      background-image: url('../img/icon-email.svg');
      height: 13px;
      width: 17px;
    }
  }

  .link_address {
    &::before {
      background-image: url('../img/icon-address.svg');
      height: 20px;
      width: 17px;
    }
  }

  .link_site {
    &::before {
      background-image: url('../img/icon-site.svg');
      height: 18px;
      width: 18px;
    }
  }

  .link_time {
    &::before {
      background-image: url('../img/icon-time.svg');
      height: 20px;
      width: 20px;
    }
  }

  &__separator {
    border-top: 1px solid colors.$light-blue;
    margin-bottom: 42px;
    margin-top: 20px;
  }

  &__document {
    color: colors.$text-secondary;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
    padding-left: 48px;
    position: relative;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }

    &::before,
    &::after {
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 30px;
      left: 0;
      position: absolute;
      top: 0;
      width: 24px;
    }

    &_pdf::before {
      background-image: url('../img/icon-pdf.svg');
    }

    &_doc::before {
      background-image: url('../img/icon-doc.svg');
    }

    &_jpg::before {
      background-image: url('../img/icon-jpg.svg');
    }

    &_docx::before {
      background-image: url('../img/icon-docx.svg');
    }

    &_dot::before {
      background-image: url('../img/icon-dot.svg');
    }

    &_gif::before {
      background-image: url('../img/icon-gif.svg');
    }

    &_odp::before {
      background-image: url('../img/icon-odp.svg');
    }

    &_ods::before {
      background-image: url('../img/icon-ods.svg');
    }

    &_odt::before {
      background-image: url('../img/icon-odt.svg');
    }

    &_ppt::before {
      background-image: url('../img/icon-ppt.svg');
    }

    &_png::before {
      background-image: url('../img/icon-png.svg');
    }

    &_xlb::before {
      background-image: url('../img/icon-xlb.svg');
    }

    &_xls::before {
      background-image: url('../img/icon-xls.svg');
    }

    &_zip::before {
      background-image: url('../img/icon-zip.svg');
    }

    &_locked {
      padding-left: 102px;

      @media (max-width: 767px) {
        min-height: 80px;
        padding-left: 44px;
      }

      &::after {
        background-image: url('../img/icon-locked.svg');
        left: 48px;

        @media (max-width: 767px) {
          left: 0;
          top: 40px;
        }
      }
    }
  }

  &__documents-block {
    margin-bottom: 42px;
  }

  &__table {
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 42px;
    overflow-x: scroll;
    padding-bottom: 12px;
    width: 100%;

    @media (max-width: 767px) {
      border-collapse: separate;
      border-spacing: 0 10px;
    }

    &::-webkit-scrollbar {
      appearance: none;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: colors.$orange;
      border-radius: 30px;
      box-shadow: none;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: rgb(82 85 86 / 0.2);
      border-radius: 30px;
    }

    &__header {
      @media (max-width: 767px) {
        margin-bottom: 14px;
      }

      th,
      td {
        background-color: colors.$grey !important;
      }
    }

    tr {
      border-bottom: 1px solid rgb(102 142 169 / 0.3);
    }

    th,
    td {
      background-color: colors.$white;
      color: #273d45;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      padding: 20px 22px;
      vertical-align: middle;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    &__inconspicuous {
      background: colors.$grey;
      border-bottom: 2px solid colors.$beige !important;

      td {
        color: rgb(39 61 69 / 0.3);
      }
    }

    &__subtext {
      color: colors.$light-blue;
      display: inline-block;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__table-block {
    overflow-x: hidden;
    width: 100%;

    .navigation {
      left: 10px;
      right: 10px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__video-block {
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.video_16x9 {
      padding-bottom: 100% / 16 * 9;
    }

    &.video_4x3 {
      padding-bottom: 100% / 4 * 2.945;
    }
  }

  &__video {
    height: 100%;
    margin-bottom: 42px;
    position: absolute;
    width: 100%;
  }

  &__video-cover {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__video-overlay {
    cursor: pointer;

    &._hide {
      display: none;
    }

    &:hover {
      &::after {
        border-color: rgba(255, 255, 255, 0.6);
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.63);
        transform-origin: center;
      }
    }

    &::before,
    &::after {
      content: '';
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
    }

    &::before {
      background-image: url('../img/icon-play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 68px;
      width: 68px;
    }

    &::after {
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 100%;
      content: '';
      height: 106px;
      opacity: 0.6;
      pointer-events: none;
      transform-origin: center;
      transition: all 0.3s ease;
      width: 106px;
    }
  }
}

.breadcrumbs {
  &__list {
    overflow: auto;
    white-space: nowrap;

    @media (max-width: 991px) {
      padding-bottom: 15px;
    }
  }

  &__item {
    color: colors.$text-secondary;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    position: relative;

    + .breadcrumbs__item {
      padding-left: 12px;

      &::before {
        background-image: url('../img/icon-arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 4px;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(270deg);
        width: 7px;
      }
    }

    &__link {
      color: colors.$text-headline;
      transition: color 0.3s ease;
    }

    &:hover {
      .breadcrumbs__item__link {
        color: colors.$text-secondary;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__page {
    background-color: transparent;
    border-radius: 5px;
    color: colors.$text-secondary;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 0.05em;
    line-height: 50px;
    margin: 0 5px;
    text-align: center;
    transition: all 0.3s ease;
    width: 50px;

    @media (max-width: 767px) {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      width: 40px;
    }

    &:hover,
    &:focus {
      background-color: colors.$blue;
      color: colors.$white;
    }

    &_active,
    &_active:hover,
    &_active:focus {
      background-color: colors.$orange;
      color: colors.$white;
    }
  }

  .button_more {
    border-radius: 5px;
    transition: all 0.3s ease;

    @media (max-width: 767px) {
      height: 40px;
      width: 40px;
    }

    &:hover {
      background-color: colors.$orange;
      color: colors.$white;
    }

    &::after {
      height: 7px;
      width: 12px;
    }
  }
}

.accordion {
  &__content {
    border-top: 1px solid colors.$light-blue;
    margin-top: 22px;
    padding-top: 30px;
  }

  &__caption {
    color: colors.$text-main;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    padding-right: 34px;
    position: relative;
    text-transform: uppercase;

    &::after {
      background-image: url('../img/icon-arrow.svg');
      background-size: contain;
      content: '';
      display: block;
      height: 7px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
    }
  }
}

.notice {
  background-color: colors.$white;
  border-radius: 10px;
  font-weight: 500;
  margin-bottom: 42px;
  order: 2;
  padding: 22px 30px 10px;
  width: 100%;

  &__title {
    color: #e71b4c;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__text,
  &__list {
    margin-bottom: 20px;
  }

  &__text,
  &__item {
    color: #0c4458;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;

    // @media (max-width: 767px) {
    //   font-size: 14px;
    // }
  }

  &__list {
    list-style-type: disc;
  }

  &__item {
    margin-left: 14px;
  }
}

.tag {
  &__block {
    margin-bottom: 22px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: 100%;
  }

  &__item {
    margin-bottom: 20px;
    margin-right: 40px;

    @media (max-width: 767px) {
      margin-bottom: 18px;
      margin-right: 0;
      width: 100%;
    }
  }

  &__link {
    color: colors.$text-main;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

    @media (max-width: 767px) {
      display: inline-block;
      font-size: 18px;
      line-height: 1.2;
      width: 100%;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }

    &::after {
      top: 6px !important;
      transform: rotate(320deg) !important;
    }
  }

  &__amount {
    color: colors.$light-blue;
  }
}

.social {
  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    display: block;

    & + .social__item {
      margin-left: 20px;
    }

    img {
      height: 32px;
      width: 32px;
    }
  }
}

._toggle {
  $this: &;

  &._toggle_active {
    > #{$this} {
      &__container {
        max-height: var(--element-height, auto);
      }
    }
  }

  > #{$this} {
    &__container {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }
  }
}

.glide {
  &__arrows {
    pointer-events: none;
  }

  &__arrow {
    pointer-events: all;
  }
}
