@use '~/styles/colors';

.events,
.meetings,
.documents {
  &__date {
    color: #0c4458;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 200px;
    padding-left: 26px;
    padding-right: 40px;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;

    @media (max-width: 767px) {
      display: inline-block;
      margin-bottom: 16px;
      max-width: 100%;
    }

    &::before {
      background-image: url('../img/icon-calendar.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 16px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 15px;
    }
  }

  &__name {
    color: colors.$text-main;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: color 0.3s ease;
    width: 100%;

    @media (max-width: 767px) {
      width: calc(100% - 35px);
    }
  }

  &__link {
    display: flex;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    &:hover {
      .events__name,
      .meetings__name,
      .documents__name {
        color: colors.$blue;
        text-decoration: underline;
      }
    }
  }

  &-page,
  &_basic-page {
    .content__item_calendar {
      margin-bottom: 20px;

      @media (max-width: 767px) {
        margin-bottom: 22px;
      }
    }

    .link_arrow {
      &::after {
        top: 0;
        transform: rotate(320deg);
      }
    }

    .content__main {
      @media (max-width: 1440px) {
        padding-right: 0;
        width: 100%;
      }
    }
  }
}

.events {
  &__coming,
  &__past {
    .content__title_h2 {
      margin-bottom: 36px;
    }
  }

  &__coming {
    margin-bottom: 62px;

    .content__title_h2 {
      margin-top: 0;
    }
  }

  &__past {
    margin-bottom: 80px;

    .content__title_h2 {
      margin-top: 0;
    }
  }
}

.meetings,
.documents {
  &__block {
    margin-bottom: 80px;
  }
}

.documents-page,
.documents_basic-page {
  .notice {
    &__image {
      background-image: url('../img/icon-locked.svg');
      display: inline-block;
      height: 30px;
      margin: 0 4px -4px;
      width: 24px;
    }
  }
}

.documents {
  &__images-block {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    max-width: 60px;
    width: 100%;

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 15px;
      width: 20px;
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 24px;

    @media (max-width: 767px) {
      height: 20px;
      margin-bottom: 8px;
    }

    &_locked {
      background-image: url('../img/icon-locked.svg');
      margin-right: 12px;
    }

    &_pdf {
      background-image: url('../img/icon-pdf.svg');
    }

    &_jpg {
      background-image: url('../img/icon-jpg.svg');
    }

    &_doc {
      background-image: url('../img/icon-doc.svg');
    }
  }
}

// .documents_basic {}
