<section class="slider glide">
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
            <a class="glide__slide" href="">
                <img class="glide__image" src="img/content/slide1.png" alt="">
            </a>
            <a class="glide__slide" href="">
                <img class="glide__image" src="img/content/news1.png" alt="">
            </a>
            <a class="glide__slide" href="">3</a>
        </div>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow_left button" data-glide-dir="<"></button>
        <button class="glide__arrow glide__arrow_right button" data-glide-dir=">"></button>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
</section>